:host{
  display: flex;
}

mat-card{
  height: 100%;
  width: 100%;
}

mat-calendar >>> .mat-calendar-controls{
  margin: 10px 0;
}

mat-calendar >>> .mat-calendar-body-label{
  opacity: 0;
}

mat-calendar >>> .mat-calendar-body-label[colspan="7"] {
  display: none;
}

mat-calendar>>> button.holiday:before{
  background-color: palegreen;
  border-radius: 100%;
  width: 90%;
  left: 5%;
}

/*mat-calendar>>> button.holiday .mat-calendar-body-selected{*/
/*  background-color: transparent;*/
/*  backdrop-filter: brightness(0.5);*/
/*}*/

mat-calendar>>> button.event:before{
  height: 15%;
  width: 15%;
  background-color: cyan;
  border-radius: 100%;
  top: 5px;
  left: 44%;
}

mat-calendar>>> .mat-calendar-body-today{
  border-width: 3px;
  border-color: royalblue !important;
  z-index: auto;
}

.mat-calendar >>> button:hover{
  background-color: transparent;
}

mat-calendar>>>.mat-calendar-body-cell:not(.mat-calendar-body-disabled):hover>.mat-calendar-body-cell-content:not(.mat-calendar-body-selected):not(.mat-calendar-body-comparison-identical) {
  background-color: transparent;
}

mat-calendar>>>.mat-calendar-body-cell{
  cursor: auto;
}

mat-calendar{
  z-index: auto;
}

mat-card{
  overflow: auto;
  padding: 10px
}
