
<app-nav></app-nav>
<div id="body-contains"><app-header></app-header>
  <div class="mat-container">

    <mat-card>
      <p class="topic">My Profile</p>
      
      <div id="profile">
      <div class="profie-container">
        <p>Name</p>
        <p>Date of Birth</p>
        <p>Address</p>
        <p>NIC No</p>
        <p>Gender</p>
        <p>UserID</p>
        <p>Contact No</p>
        <p>Email</p>
   
      </div>
      <div class="profie-details">
        <p>{{stu.fullName}}</p>
        <p>1988/06/25</p>
        <p>Colombo 07,athurugiriya</p>
        <p>985465354V</p>
        <p>Female</p>
        <p>234576E</p>
        <p>077654345</p>
        <p>test@gmail.com</p>
   
      </div>
   
    </div>
    <h2>
      School Details
    </h2>
    <div class="profie-container">   <h3>Joined date</h3>
      <h3>Positions</h3>
      <h3>Working Hours</h3>
     </div>
     <div class="profie-details">
      <p>2020/02/04</p>
     </div>

    </mat-card>
    <div id="mat-right">
      <div class="photo-container">
      <mat-card id="mat-photo">
        <p class="topic">Change profile picture</p>
      <div class="photo-text">
        <img class="profile-pic" [src]="imageSrc">
        <div class="photo-save-section">
          <input type="file" (change)="changeImage($event)">
          <button (click)="saveImage()">Save Image</button>
        </div>
      </div>
    
    
      </mat-card>
    </div>
     <mat-card id="mat-passwrd">
        <p class="topic">Change password</p>
      <div class="login-container">
        <div class="field">
         
          <mat-form-field class="fullName" appearance="outline">
            <mat-label>Current Password</mat-label>
             <input matInput placeholder="Enter current password here" id="initName" name="initName" ngModel required>
            </mat-form-field>
        </div>
        <div class="field">
         
          <mat-form-field class="fullName" appearance="outline">
            <mat-label>New Password</mat-label>
             <input type="password" matInput placeholder="Enter new password here" id="initName" name="initName" ngModel required>
            </mat-form-field>
        </div>
        <div class="field">
       
          <mat-form-field class="fullName" appearance="outline">
            <mat-label>Confirm New Password</mat-label>
             <input type="password" matInput placeholder="Enter new password here" id="initName" name="initName" ngModel required>
            </mat-form-field>
        </div>
      </div>
      <button class="login_btn" type="submit">Login</button>
      </mat-card>
     <!--
      
      <div class="password-container">

        <form (ngSubmit)="changePassword()">
          <div class="field">        
            <label for="oldPassword">Old Password:</label>
            <mat-form-field class="fullName" appearance="outline">
              <mat-label>Enter name with initials</mat-label>
               <input matInput placeholder="" id="initName" name="initName" ngModel required>
              </mat-form-field>
          </div>
          <div class="field">
            <label for="newPassword">New Password:</label>
            <mat-form-field class="fullName" appearance="outline">
              <mat-label>Enter name with initials</mat-label>
               <input matInput placeholder="" id="initName" name="initName" ngModel required>
              </mat-form-field>
          </div>
          <div class="field">
            <label for="confirmPassword">Confirm Password:</label>
            <mat-form-field class="fullName" appearance="outline">
              <mat-label>Enter name with initials</mat-label>
               <input matInput placeholder="" id="initName" name="initName" ngModel required>
              </mat-form-field>
          </div>
          <button type="submit">Save changes</button>
        </form>
      </div>
  
  -->
   



 

 
