:host{
    display: flex;
  }
  
  #body-contains{
    flex: 1;
  }
  
  mat-card{
    width: 50%;
    height: 650px;
    margin: 10px;
  }



.mat-container{
  display: flex;
}

#mat-right{
  width: 45%;
  height: 300px;
}

#mat-photo{
  width: 100%;
  height: 300px;
}

#mat-passwrd{
  width: 100%;
  height: 338px;
}
.topic{
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  margin-top: 10px;
 }
 .profie-container{
  margin-left: 30px;
  padding-top: 30px;
    
 }
 p{
  margin-bottom: 30px;
  font-weight: 800px;
  font-size: 16px;

 }
 .profile-pic{
  width: 220px;
  height: 200px;

  border-radius: 10px;
  margin-bottom: 20px;
  margin-left: 20px;
  display: flex;
  display: block;
 }
 button{
  width: 130px;
  text-align: center;

  padding: 8px;
  background-color: rgb(21, 83, 169);
  border: none;
  margin-bottom: 40px;
  border-radius: 5px;
  margin-top: 60px;
  color: aliceblue;

 }
 .photo-container{
  display: flex;
 }

 .photo-text{
  display: flex;
  margin-left: 10px;
  margin-right: 10px;
 }

 .text{

  text-align: center;
 }
 .photo-save-section{
  margin-left: 5px;
 }
 
 .login-container{
  margin-left: 60px;
  margin-top: 2px;
 }

 
label{
  
  padding: 3px 3px 3px 4px;
  display: inline-block;
  margin-right: 50px;
  margin-left: 10px;
}
form button{
  margin-top:-7px;
  margin-left: 300px;
}

.display-picture{
  width: 300px;
  height: 200px;
  margin-left: 25%;
  border-radius: 5%;
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

#profile{
display: flex;
}
.profie-details{
  margin-left: 30px;
  padding-top: 30px;
  font-style: italic;
  color: rgb(127, 133, 133);
    
}
.login_btn{
 margin-left: 300px;
 margin-top: -5px;
}
mat-form-field {
  width: 80%;
}