<mat-card>
  <mat-card-header class="space-between">
    <span>Holidays</span>
    <span class="spacer"></span>
    <span *ngIf="!disableCreation" class="flex gap">
      <mat-icon (click)="createToggle()" [ngClass]="{'active':create,'header-disabled':headerDisabled}">create</mat-icon>
      <mat-icon (click)="deleteToggle()" [ngClass]="{'active':delete,'header-disabled':headerDisabled}">delete</mat-icon>
    </span>
  </mat-card-header>
  <mat-card-content *ngIf="!create">
    <div *ngFor="let holiday of holidays">
      <div class="flex space-between entry">
      <span class="grid">
        {{holiday.title}}
      </span>
        <span class="sub-header">
        {{holiday.date | date:'dd/MM/yyyy'}}
          <mat-checkbox *ngIf="delete" (click)="toggleDeleteItem(holiday.id)"></mat-checkbox>
      </span>
      </div>
      <mat-divider></mat-divider>
    </div>
  </mat-card-content>
  <mat-card-content *ngIf="create">
    <form (ngSubmit)="createHoliday(newHoliday)" id="new-holiday" #newHoliday="ngForm">
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Holiday Title</mat-label>
        <input matInput ngModel name="title" required>
      </mat-form-field>
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Date</mat-label>
        <input matInput [matDatepicker]="picker" ngModel name="date" required>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </form>
  </mat-card-content>
  <mat-card-actions align="end" *ngIf="create || delete">
    <button mat-button *ngIf="create" form="new-holiday" type="submit">Submit</button>
    <button mat-button *ngIf="delete" (click)="deleteHolidays()">Delete</button>
    <button mat-button (click)="create=delete=false">Cancel</button>
  </mat-card-actions>
</mat-card>
