:host,.workspace{
  display: flex;
}

.content{
  flex: 1;
}

mat-card{
 margin: 15px;
}

.left{
  flex: 2;
}

.right{
  flex: 3;
}

.spacer{
  flex: 1 1 auto;
}

.creation{
  height: 250px;
}

.details{
  height: 375px;
}


