<app-nav></app-nav>
<div class="content">
  <app-header></app-header>
  <div class="workspace">
   <div class="left">
     <mat-card class="details">
       <mat-card-header>
         Class Details
         <span class="spacer"></span>
         <mat-form-field appearance="outline">
           <mat-select placeholder="Class">
             <mat-option *ngFor="let cls of clsAllocation" [value]="cls.value">{{cls.viewValue}}</mat-option>
           </mat-select>
         </mat-form-field>
         <mat-chip-listbox>
           <mat-chip [ngStyle]="{'background-color':create ? '#3f51b5' : 'lightgrey','transition':'150ms ease-out'}" (click)="createToggle()">
             <mat-icon [ngStyle]="{'color':create ? 'white' : 'black'}">add</mat-icon>
           </mat-chip>
         </mat-chip-listbox>
       </mat-card-header>
       <mat-card-content *ngIf="!create" class="allocation-form">
         <table>
           <tr>
             <td class="width">Class Teacher</td>
             <td>Nimal Silva</td>
           </tr>
           <tr>
             <td>Allocated Class</td>
             <td>25/12/2022</td>
           </tr>
           <tr>
             <td>Girls</td>
             <td>27</td>
           </tr>
           <tr>
             <td>Boys</td>
             <td>20</td>
           </tr>
           <tr>
             <td>Total Students</td>
             <td>47</td>
           </tr>
         </table>
       </mat-card-content>
       <mat-card-content *ngIf="create">
         <mat-form-field appearance="outline" class="width top-margin" >
           <mat-label>Enter Class Name</mat-label>
           <input matInput placeholder="E.g. 6 A">
         </mat-form-field>
       </mat-card-content>
       <mat-card-actions *ngIf="create" align="end">
         <button mat-raised-button>Create</button>
       </mat-card-actions>
     </mat-card>
   </div>
    <div class="right">
      <mat-card class="allocation">
        <mat-card-header>
          Class Allocation
          <span class="spacer"></span>
          <mat-chip-listbox>
            <mat-chip [ngStyle]="{'background-color':modify ? '#3f51b5' : 'lightgrey','transition':'150ms ease-out'}" (click)="modifyToggle()">
              <mat-icon [ngStyle]="{'color':modify  ? 'white' : 'black'}">create</mat-icon>
            </mat-chip>
          </mat-chip-listbox>
        </mat-card-header>
        <mat-card-content>
          <div *ngFor="let cls of clsAllocation">
            <div class="allocate-entry">
              Class {{cls.class}}
              <span class="spacer"></span>
              <mat-select [placeholder]="modify ? 'Select a Teacher':'Not Allocated'"
                          [(value)]="cls.teacher"
                          [ngStyle]="{'background-color':cls.teacher == null ? 'lightgrey' : 'blue'}"
                          [disabled]="!modify" [ngClass]="{'hide':!modify}">
                <mat-option [value]=null class="remove">Remove Selection</mat-option>
                <mat-option *ngFor="let teacher of teachers" [value]="teacher.value">
                  {{teacher.viewValue}}
                </mat-option>
              </mat-select>
            </div>
            <mat-divider></mat-divider>
          </div>
        </mat-card-content>
        <mat-card-actions align="end" *ngIf="modify">
          <button mat-raised-button>Allocate</button>
          <button mat-raised-button (click)="modifyToggle()">Discard</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
