<app-nav></app-nav>
<div class="content">
  <app-header></app-header>
  <div class="workspace">
   <div class="left">
     <mat-card class="creation">
       <mat-card-header>
         Class Creation
       </mat-card-header>
       <mat-card-content>
         <hr>
         <mat-form-field appearance="outline">
           <mat-label>Enter Class Name</mat-label>
           <input matInput placeholder="E.g. 6 A">
         </mat-form-field>
       </mat-card-content>
       <mat-card-actions align="end">
         <button mat-raised-button>Create</button>
       </mat-card-actions>
     </mat-card><br>
     <mat-card class="details">
       <mat-card-header>
         Class Details
         <span class="spacer"></span>
         <mat-form-field appearance="outline">
           <mat-select placeholder="Class">
             <mat-option *ngFor="let class of classes" [value]="class.value">{{class.viewValue}}</mat-option>
           </mat-select>
         </mat-form-field>
       </mat-card-header>
       <mat-card-content>
         <hr>
         <table>
           <tr>
             <td>Class Teacher</td>
             <td>Nimal Silva</td>
           </tr>
           <tr>
             <td>Allocated Class</td>
             <td>25/12/2022</td>
           </tr>
           <tr>
             <td>Girls</td>
             <td>27</td>
           </tr>
           <tr>
             <td>Boys</td>
             <td>20</td>
           </tr>
           <tr>
             <td>Total Students</td>
             <td>47</td>
           </tr>
         </table>
       </mat-card-content>
     </mat-card>
   </div>
    <div class="right">
      <mat-card>
        <mat-card-header>Class Allocation</mat-card-header>
        <mat-card-content>
          <hr>
         <table>
           <tr>
             <td>6 A</td>
             <td><mat-form-field appearance="outline">
               <mat-select placeholder="Select a Teacher">
                 <mat-option *ngFor="let teacher of teachers" [value]="teacher.value">{{teacher.viewValue}}</mat-option>
               </mat-select>
             </mat-form-field></td>
           </tr>
           <tr>
             <td>6 B</td>
             <td><mat-form-field appearance="outline">
               <mat-select placeholder="Select a Teacher">
                 <mat-option *ngFor="let teacher of teachers" [value]="teacher.value">{{teacher.viewValue}}</mat-option>
               </mat-select>
             </mat-form-field></td>
           </tr>
           <tr>
             <td>7 A</td>
             <td><mat-form-field appearance="outline">
               <mat-select placeholder="Mrs. Maheshi Gunasekara">
                 <mat-option *ngFor="let teacher of teachers" [value]="teacher.value">{{teacher.viewValue}}</mat-option>
               </mat-select>
             </mat-form-field></td>
           </tr>
           <tr>
             <td>7 B</td>
             <td><mat-form-field appearance="outline">
               <mat-select placeholder="Mr. Nimal Silva">
                 <mat-option *ngFor="let teacher of teachers" [value]="teacher.value">{{teacher.viewValue}}</mat-option>
               </mat-select>
             </mat-form-field></td>
           </tr>
           <tr>
             <td>8 A</td>
             <td><mat-form-field appearance="outline">
               <mat-select placeholder="Mr. Roshan Ranaweera">
                 <mat-option *ngFor="let teacher of teachers" [value]="teacher.value">{{teacher.viewValue}}</mat-option>
               </mat-select>
             </mat-form-field></td>
           </tr>
           <tr>
             <td>8 B</td>
             <td><mat-form-field appearance="outline">
               <mat-select placeholder="Mrs. Sandani Perera">
                 <mat-option *ngFor="let teacher of teachers" [value]="teacher.value">{{teacher.viewValue}}</mat-option>
               </mat-select>
             </mat-form-field></td>
           </tr>
           <tr>
             <td>9 A</td>
             <td><mat-form-field appearance="outline">
               <mat-select placeholder="Ms. Uthpala Gunasekara">
                 <mat-option *ngFor="let teacher of teachers" [value]="teacher.value">{{teacher.viewValue}}</mat-option>
               </mat-select>
             </mat-form-field></td>
           </tr>
           <tr>
             <td>9 B</td>
             <td><mat-form-field appearance="outline">
               <mat-select placeholder="Mr. Kasun Bandara">
                 <mat-option *ngFor="let teacher of teachers" [value]="teacher.value">{{teacher.viewValue}}</mat-option>
               </mat-select>
             </mat-form-field></td>
           </tr>
           <tr>
             <td>10 A</td>
             <td><mat-form-field appearance="outline">
               <mat-select placeholder="Mr. Chathura Perera">
                 <mat-option *ngFor="let teacher of teachers" [value]="teacher.value">{{teacher.viewValue}}</mat-option>
               </mat-select>
             </mat-form-field></td>
           </tr>
           <tr>
             <td>10 B</td>
             <td><mat-form-field appearance="outline">
               <mat-select placeholder="Mrs. Sachini Bandara">
                 <mat-option *ngFor="let teacher of teachers" [value]="teacher.value">{{teacher.viewValue}}</mat-option>
               </mat-select>
             </mat-form-field></td>
           </tr>
         </table>
        </mat-card-content>
        <mat-card-actions align="end">
          <button mat-raised-button>Allocate</button>
          <button mat-raised-button>Modify</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
