:host,.workspace{
  display: flex;
}

.content{
  flex: 1;
}

.left>mat-card{
 margin: 15px 15px 0 15px;
}

.right>mat-card{
  margin: 15px 15px 0 0;
}

.left{
  flex: 2;
}

.right{
  flex: 3;
}

.spacer{
  flex: 1 1 auto;
}

.details{
  height: 82vh;
}

.allocation{
  height: 82vh;
}

button{
  margin: 5px;
}

mat-card-content{
  overflow: auto;
  height: 100%;
}

mat-card-header{
  border-bottom: 1.5px solid gray;
}

.width{
  width: 100%;
}

.top-margin{
 margin-top: 10px;
}

mat-select{
  width: 20vw;
  padding: 3px;
  margin: 1px;
  border-radius: 20px;
}

/deep/ .mat-mdc-select-disabled /deep/ .mat-mdc-select-value, /deep/ .mat-mdc-select-value, /deep/ .mat-mdc-select-arrow{
  color: white;
  margin: 0 10px 0 10px;
}

.hide /deep/ .mat-mdc-select-arrow{
  display: none;
}

/deep/ .remove>*{
  color: rgb(150, 150, 150);    /*could not find the class of the text*/
}

.allocate-entry{
  display: flex;
  margin: 5px 0;
}

