<mat-card>
  <mat-card-header>

    <span>Leaves Overview</span>
    <span class="spacer"></span>
    <span>This Year</span>
  </mat-card-header>

  <mat-card-content>
    <div class="grid values">
      <div class="grid">
        <span>
          <span class="big-text">{{duty}}</span>
          <span></span>
        </span>
        <span>Duty</span>

      </div>
      <mat-divider vertical></mat-divider>

      <div class="grid">
        <span>
          <span class="big-text">{{sick}}</span>
          <span class="bold">/21</span>
        </span>
        <span>Sick</span>

      </div>
      <mat-divider vertical></mat-divider>

      <div class="grid">
        <span>
          <span class="big-text">{{other}}</span>
          <span class="bold">/20</span>
        </span>
        <span>Other</span>
      </div>


    </div>


  </mat-card-content>

</mat-card>
