<div class="workspace">
  <mat-card class="attendance">
    <mat-card-header>
      <span class="heading heading-large">My Children</span>
      <span class="spacer"></span>
      <span class="sub-heading heading-large">This Month</span>
    </mat-card-header>
    <mat-card-content class="scrollable">
      <mat-card *ngFor="let child of children">
        <div class="child-details">
          <div>
            <span class="heading">Tharindu Herath</span>
          </div>
          <div>
            <div class="sub-heading">School</div>
            <div>Dehiaththakandiya Maha Vidyalaya</div>
          </div>
          <div class="grid entry">
            <div class="grid entry-left">
              <div class="sub-heading">Grade</div>
              <div>9A</div>
            </div>
            <div class="grid">
              <div class="sub-heading">Today's Attendance</div>
              <div>Present</div>
            </div>
          </div>
        </div>
        <div class="child-photo">
          <!--            child's photo-->
        </div>
      </mat-card>
    </mat-card-content>
  </mat-card>

  <mat-card class="notice-board">
    notice
    <!--        notice component-->
  </mat-card>
</div>
