.mat-sidenav-container{
  height: 100vh;
}

.mat-sidenav{
  background-color: darkblue;
  width: 275px;
}

.mat-icon{
  color: white;
}

a{
  color: white;
}

.mat-expanded>mat-expansion-panel-header{
  pointer-events: none;
  /*padding: 0;*/
  background-color: cyan;
  color: white;
}

.no-expand /deep/ .mat-expansion-panel-content{
  display: none;
}

mat-expansion-panel /deep/ .mat-expansion-panel-body{
  padding: 0 0 0 15px;
}

mat-expansion-panel{
  background-color: transparent;
  color: white;
}

mat-expansion-panel:not(.sub-nav){
  margin: 0 15px;
}

.sub-nav{
  margin: 5px 0;
}

mat-expansion-panel-header{
  padding: 0 15px;
  border-radius: 10px;
}

.mat-expansion-panel{
  box-shadow: none;
}
