.mat-sidenav-container{
  height: 100vh;
}

.mat-sidenav{
  background-color: darkblue;
  width: 275px;
}

.mat-icon{
  color: white;
}

a{
  color: white;
}

mat-expansion-panel{
  margin: 0;
}

.no-expand.mat-expanded{
  display: flex;
}


.mat-expanded mat-expansion-panel-header{
  pointer-events: none;
}
