<mat-sidenav-container>
  <mat-sidenav opened disableClose mode="side">
    <mat-nav-list>
      <mat-list-item>
        <a matListItemTitle routerLink="">Dashboard</a>
        <button mat-icon-button matListItemMeta>
          <mat-icon>dashboard</mat-icon>
        </button>
      </mat-list-item>
      <mat-list-item>
        <a matListItemTitle routerLink="studentreg">Student Registration</a>
        <button mat-icon-button matListItemMeta>
          <mat-icon>person_add</mat-icon>
        </button>
      </mat-list-item>
      <mat-list-item>
        <a matListItemTitle routerLink="teacherreg">Teacher Registration</a>
        <button mat-icon-button matListItemMeta>
          <mat-icon>person_add</mat-icon>
        </button>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
</mat-sidenav-container>
