.mat-sidenav-container {
  height: 100vh;
}

.mat-sidenav {
  background-color: darkblue;
  width: 275px;
}

.mat-icon {
  color: white;
}

a {
  color: white;
}

.mat-expanded > mat-expansion-panel-header {
  pointer-events: none;
  color: white;
}

.mat-expanded:not(.sub-nav) > mat-expansion-panel-header{
  background-color: lightseagreen;
}


.mat-expansion-panel /deep/ .mat-expansion-panel-body {
  padding: 0;
}

.mat-expansion-panel {
  background-color: transparent;
  color: darkgrey;
  box-shadow: none;
}

.mat-expansion-panel-header {
  margin: 0;
  padding: 0 15px;
}

.mat-expansion-panel-spacing {
  margin: 0;
}

:not(.sub-nav).mat-expansion-panel.mat-expanded {
  backdrop-filter: grayscale(30%);
}

mat-accordion{
  display: grid;
  grid-auto-columns: 90%;
  justify-content: center;
}

:not(.no-expand).mat-expansion-panel-content {
  margin: 3px 0;
}

mat-accordion mat-accordion{
  margin: 5px 0;
}

mat-accordion:has(mat-accordion){
  gap: 5px;
}
