<mat-sidenav-container>
  <mat-sidenav opened disableClose mode="side">
    <mat-nav-list>
      <mat-list-item routerLink="">
        <a matListItemTitle>Dashboard</a>
        <button matListItemMeta mat-icon-button>
          <mat-icon>space_dashboard</mat-icon>
        </button>
      </mat-list-item>
      <mat-list-item routerLink="/accessgranttchr">
        <a matListItemTitle>Principal Access</a>
        <button matListItemMeta mat-icon-button>
          <mat-icon>person</mat-icon>
        </button>
      </mat-list-item>
      <mat-list-item routerLink="/accessgrantprin">
        <a matListItemTitle>Access Grant</a>
        <button matListItemMeta mat-icon-button>
          <mat-icon>person</mat-icon>
        </button>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
</mat-sidenav-container>
