<mat-sidenav-container>
  <mat-sidenav opened disableClose mode="side">
    <mat-nav-list>
      <mat-list-item *ngFor="let link of links" [routerLink]="link.path">
        <a matListItemTitle>{{link.value}}</a>
        <button matListItemMeta mat-icon-button>
          <mat-icon>{{link.icon}}</mat-icon>
        </button>
      </mat-list-item>
    </mat-nav-list>

    <mat-accordion>
      <mat-expansion-panel hideToggle class="no-expand" expanded>
        <mat-expansion-panel-header>
          Subject Management
        </mat-expansion-panel-header>
      </mat-expansion-panel>
      <mat-expansion-panel >
        <mat-expansion-panel-header >
          Subject Management
        </mat-expansion-panel-header>

          <mat-accordion>
            <mat-expansion-panel hideToggle class="no-expand sub-nav" expanded>
              <mat-expansion-panel-header >
                Subject Management
              </mat-expansion-panel-header>
            </mat-expansion-panel>
            <mat-expansion-panel hideToggle class="no-expand sub-nav">
              <mat-expansion-panel-header>
                Subject Management
              </mat-expansion-panel-header>
            </mat-expansion-panel>
          </mat-accordion>

      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          Class Management
        </mat-expansion-panel-header>
        <mat-nav-list>
          <mat-list-item *ngFor="let link of links" routerLink="link.path">
            <a matListItemTitle>{{link.value}}</a>
            <button matListItemMeta mat-icon-button>
              <mat-icon>{{link.icon}}</mat-icon>
            </button>
          </mat-list-item>
        </mat-nav-list>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-sidenav>
</mat-sidenav-container>
