<app-nav></app-nav>
<div class="content">
  <app-header></app-header>
  <div class="workspace">
    <div class="left">
      <mat-card class="proposal">
        <app-project-proposals [sclID]="sclID" #proposalComp></app-project-proposals>
      </mat-card>
      <mat-card class="projects">
        <app-project-details [sclID]="sclID" [principalID]="userID" [proposals]="proposalComp.proposals" #projectComp></app-project-details>
      </mat-card>
    </div>
    <div class="right">
      <mat-card class="milestones">
        <app-project-milestones [project]="projectComp.selectedProject"></app-project-milestones>
      </mat-card>
    </div>
  </div>
</div>
