<app-nav></app-nav>
<div class="content">
  <app-header></app-header>
  <div class="workspace">
    <div class="left">
      <mat-card class="proposal">
        <mat-card-header>
          Project Proposals
          <span class="spacer"></span>
          <mat-chip-listbox>
            <mat-chip [ngStyle]="{'background-color':proposalAdd ? '#3f51b5' : 'lightgrey','transition':'150ms ease-out'}" (click)="proposalAddToggle()">
              <mat-icon [ngStyle]="{'color':proposalAdd ? 'white' : 'black'}">add</mat-icon>
            </mat-chip>
          </mat-chip-listbox>
        </mat-card-header>
        <mat-card-content *ngIf="!proposalAdd">
            <div *ngFor="let proposal of proposals">
              <div class="entry">
                <div class="flex">
                  {{proposal.title}}
                  <span class="spacer"></span>
                  {{proposal.date}}
                </div>
                <div class="flex">
                  {{proposal.feedback}}
                  <span class="spacer"></span>
                  {{proposal.status}}
                </div>
              </div>
              <mat-divider></mat-divider>
            </div>
        </mat-card-content>
        <mat-card-content *ngIf="proposalAdd">
          <input>
        </mat-card-content>
      </mat-card>
      <mat-card class="projects">
        <mat-card-header>
          Projects
          <span class="spacer"></span>
          <mat-chip-listbox>
            <mat-chip [ngStyle]="{'background-color':projectAdd? '#3f51b5' : 'lightgrey','transition':'150ms ease-out'}" (click)="projectAddToggle()">
              <mat-icon [ngStyle]="{'color':projectAdd ? 'white' : 'black'}">add</mat-icon>
            </mat-chip>
          </mat-chip-listbox>
        </mat-card-header>
        <mat-card-content>
          <mat-accordion>
            <mat-expansion-panel hideToggle *ngFor="let project of projects">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  {{project.title}}
                </mat-panel-title>
                <mat-panel-description>
                  {{project.createdDate}}
                </mat-panel-description>
              </mat-expansion-panel-header>
              <div class="flex">
                Start Date : <span class="spacer"></span>{{project.startDate}}
              </div>
              <div class="flex">
                End Date : <span class="spacer"></span>{{project.endDate}}
              </div>
              <div class="flex">
                Responsible Person : <span class="spacer"></span>{{project.responsiblePersons}}
              </div>
            </mat-expansion-panel>
          </mat-accordion>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="right">
      <mat-card class="milestones">
        <mat-card-header>
          Project Milestones
          <span class="spacer"></span>
        </mat-card-header>
        <mat-card-content>
          <mat-accordion>
            <mat-expansion-panel hideToggle *ngFor="let milestone of milestones">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  {{milestone.title}}<br>
                  {{milestone.feedback}}
                </mat-panel-title>
                <mat-panel-description>
                  {{milestone.dueDate}}<br>
                  {{milestone.status}}
                </mat-panel-description>
              </mat-expansion-panel-header>
              <div class="flex">
                <mat-icon class="big-icon" *ngFor="let proof of milestone.proofs">{{proof.fileType}}</mat-icon>
                <span class="spacer"></span>
                <mat-chip-listbox>
                  <mat-chip [ngStyle]="{'background-color':milestoneAdd? '#3f51b5' : 'lightgrey','transition':'150ms ease-out'}" (click)="milestoneAddToggle()">
                    <mat-icon [ngStyle]="{'color':milestoneAdd ? 'white' : 'black'}">add</mat-icon>
                  </mat-chip>
                </mat-chip-listbox>
              </div>
              <input type="file" *ngIf="milestoneAdd">
            </mat-expansion-panel>
          </mat-accordion>
        </mat-card-content>
      </mat-card>
</div>
</div>
</div>
