:host,.workspace{
  display: flex;
}
.content{
  flex: 1;
}
.new-mail{
  display: flex;
  height: 65vh;
}
mat-card{
  margin: 15px;
  height: 86vh;
  width: 100%;
}
.spacer{
  flex: 1 1 auto;
}
mat-button-toggle-group{
  margin-right: 10px;
}
.mail-box, .left{
  overflow: auto;
}
.left{
  flex: 2;
  margin: 10px;
  height: 100%;
}
.right{
  flex: 1;
  margin: 10px;
  height: 100%;
}
#form input,textarea{
  margin: 20px;
  border: 1px solid #3F4E4F;
}

mat-chip-option{
  display: inline;
}

mat-panel-description{
  justify-content: right;
  text-align: right;
}

mat-checkbox{
  transform: scale(0.75);
}

mat-button-toggle-group{
  margin-right: 20px;
}

button{
  margin: 15px 15px 15px 0;
}

mat-form-field{
  width: 96%;
}

mat-panel-title {
  white-space: break-spaces;
}

textarea{
  resize: none;
  min-height: 290px;
  margin: 0;
}
h2{
  color: black;
}
.btn{
  padding: 10px;
  margin: 5px;
  border-radius: 10px;
  width: 70px;
  background-color: gray;
}
.att{
  right: 0;
  width: 100%;
  height: 100%;
  border: 1px solid gray;
  border-radius: 5px;
}
.mat-button-toggle-group {
  height: 30px;
  align-items: center;
}
.attachment-list>mat-icon{
  justify-self: right;
}
mat-card-content{
  height: 100%;
}
.attachment-list{
  display: grid;
  grid-auto-flow: column;
  align-items: center;
}
.attachment-list>mat-icon{
  cursor: pointer;
}
.attachment-list>mat-icon:hover{
  color: #3F4E4F;
}
.category{
  margin: 5px 0 0;
}
.receipientbox{
  margin-top: 5px;
}

.sub-header{
  color: gray;
}

.grid{
  display: grid;
}
