<mat-sidenav-container>
  <mat-sidenav opened disableClose mode="side">
    <mat-nav-list>
      <mat-list-item>
        <a matListItemTitle href="">Dashboard</a>
        <button mat-icon-button matListItemMeta>
          <mat-icon>folder</mat-icon>
        </button>
      </mat-list-item>
      <mat-list-item>
        <a matListItemTitle href="/mail">Mail</a>
        <button mat-icon-button matListItemMeta>
          <mat-icon>mail</mat-icon>
        </button>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <p>
      <mat-form-field appearance="fill">
        <mat-label>Fill form field</mat-label>
        <input matInput placeholder="Placeholder">
        <mat-hint></mat-hint>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="outline" color="accent">
        <mat-label>Outline form field</mat-label>
        <input matInput placeholder="Placeholder">
        <mat-hint></mat-hint>
      </mat-form-field>
    </p>
  </mat-sidenav-content>
</mat-sidenav-container>
