<app-nav></app-nav>
<div class="content">
<app-header headerTitle="Mail Management"></app-header>
  <div class="workspace">
    <mat-card>
      <mat-card-header>
        <h2>{{create ? 'New Mail' : "Mails"}}</h2>
        <span class="spacer"></span>
        <mat-button-toggle-group *ngIf="!create" [(value)]="mailBox">
          <mat-button-toggle value="inbox" (click)="getInboxMails()" >Inbox</mat-button-toggle>
          <mat-button-toggle value="sent" (click)="getSentBoxMails()">Sent Mail</mat-button-toggle>
        </mat-button-toggle-group>
        <mat-chip-listbox>
          <mat-chip [ngStyle]="{'background-color':create ? '#3f51b5' : 'lightgrey','transition':'150ms ease-out'}" (click)="createToggle()">
            <mat-icon [ngStyle]="{'color':create ? 'white' : 'black'}">post_add</mat-icon>
          </mat-chip>
          <mat-chip *ngIf="!create" [ngStyle]="{'background-color':delete ? '#3f51b5' : 'lightgrey','transition':'150ms ease-out'}" (click)="deleteToggle()">
            <mat-icon [ngStyle]="{'color':delete ? 'white' : 'black'}">delete</mat-icon>
          </mat-chip>
        </mat-chip-listbox>
      </mat-card-header>
      <mat-card-content *ngIf="!create" class="mail-box">
        <div *ngIf="mailBox=='inbox'">
          <div>
            <mat-accordion>
              <mat-expansion-panel  *ngFor="let inboxmail of inboxmails" (closed)="updateAsRead(inboxmail.id)">
                <mat-expansion-panel-header [collapsedHeight]="'70px'" [expandedHeight]="'70px'"
                                            [ngStyle]="{'font-weight': inboxmail.isRead == false ? 'bold' : ''}">
                  <mat-panel-title>
                    {{inboxmail.senderID}}
                    <br>
                    {{inboxmail.subject}}
                  </mat-panel-title>
                  <mat-panel-description>

                    {{inboxmail.date}}
                    <br>
                    {{inboxmail.time}}
                    <mat-checkbox *ngIf="delete"></mat-checkbox>
                  </mat-panel-description>
                </mat-expansion-panel-header>
                <p>
                  {{inboxmail.content}}
                </p>
                <button mat-icon-button (click)="reply(inboxmail.senderID)">
                  <mat-icon>
                    reply
                  </mat-icon>
                </button>
              </mat-expansion-panel>
            </mat-accordion>
          </div>
        </div>
        <div *ngIf="mailBox=='sent'">
          <div class="sentbox" >
            <mat-accordion>
              <mat-expansion-panel *ngFor="let sentboxmail of sentboxmails">
                <mat-expansion-panel-header [collapsedHeight]="'70px'" [expandedHeight]="'70px'">
                  <mat-panel-title>
                    {{sentboxmail.senderID}}
                    <br>
                    {{sentboxmail.subject}}
                  </mat-panel-title>
                  <mat-panel-description>
                    {{sentboxmail.date}}
                    <br>
                    {{sentboxmail.time}}
                    <mat-checkbox *ngIf="delete"></mat-checkbox>
                  </mat-panel-description>
                </mat-expansion-panel-header>
                <p>
                  {{sentboxmail.content}}
                </p>
              </mat-expansion-panel>
            </mat-accordion>
          </div>
        </div>
      </mat-card-content>
      <mat-card-actions align="end" *ngIf="delete">
        <button mat-raised-button>Delete</button>
        <button mat-raised-button (click)="deleteToggle()">Discard</button>
      </mat-card-actions>

      <mat-card-content *ngIf="create" class="new-mail">
        <div class="left">
          <div class="table-row">
            <span>To</span>
            <mat-form-field appearance="outline" color="accent">
              <mat-label>Enter mail</mat-label>
              <mat-chip-grid #chipGrid>
                <mat-chip-row *ngFor="let mail of mails" (removed)="remove(mail)">
                  {{mail}}
                  <button matChipRemove [attr.aria-label]="'remove ' + mail">
                    <mat-icon>cancel</mat-icon>
                  </button>
                </mat-chip-row>
              </mat-chip-grid>
              <input placeholder="New Mail..." #mailInput [formControl]="mailCtrl"
                     [matChipInputFor]="chipGrid" [matAutocomplete]="auto"
                     [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                     (matChipInputTokenEnd)="add($event)"/>
              <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
                <mat-option *ngFor="let mail of filteredMails | async" [value]="mail">
                  {{mail}}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </div>
          <br>
          <div class="table-row">
            <span>Subject</span>
            <mat-form-field appearance="outline" color="accent">
              <input matInput placeholder="">
            </mat-form-field>
          </div>
          <br>
          <div class="table-row">
            <span> Body </span>
            <mat-form-field appearance="outline" color="accent" class="mailbody">
              <textarea matInput placeholder="" rows="9"></textarea>
            </mat-form-field>
          </div>
        </div>


        <div class="right">
          <div class="att">
            <ngx-file-drop [multiple]="true" dropZoneLabel="Drop files here" (onFileDrop)="dropped($event)"
                           (onFileOver)="fileOver($event)" (onFileLeave)="fileLeave($event)" >
              <ng-template ngx-file-drop-content-tmp let-openFileSelector="openFileSelector">
                <button type="button" (click)="openFileSelector()">Browse Files</button>
                <button *ngIf="attachments.length!=0" type="button" (click)="attachments.splice(0)">Clear Files</button>
              </ng-template>
            </ngx-file-drop><br><br>
            <span *ngFor="let file of droppedFiles">{{file.relativePath}}</span>
          </div>
        </div>

      </mat-card-content>
      <mat-card-actions align="end" *ngIf="create">
        <div id="send">
          <button mat-raised-button>Send</button>
          <span></span>
          <button mat-raised-button>Discard</button>
        </div>
      </mat-card-actions>
    </mat-card>
  </div>

</div>
