<app-nav></app-nav>
<div id="All">

  <div class="content">
  <div class="left" >
    <mat-card>
    <mat-card-header>
      <h2>New Mail</h2>
      <span class="spacer"></span>
      <button mat-icon-button>
      <mat-icon>post_add</mat-icon>
      </button>
    </mat-card-header>
    <mat-card-content>
<br>
    <div class="table-row" >
      <span>To</span>
      <mat-form-field appearance="outline" color="accent" >
        <mat-label>Enter mail</mat-label>
        <mat-chip-grid #chipGrid aria-label="Mail selection" >
          <mat-chip-row *ngFor="let mail of mails" (removed)="remove(mail)">
            {{mail}}
            <button matChipRemove [attr.aria-label]="'remove ' + mail">
              <mat-icon>cancel</mat-icon>
            </button>
          </mat-chip-row>
        </mat-chip-grid>
        <input placeholder="New Mail..." #mailInput [formControl]="mailCtrl"
               [matChipInputFor]="chipGrid" [matAutocomplete]="auto"
               [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
               (matChipInputTokenEnd)="add($event)"/>
        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
          <mat-option *ngFor="let mail of filteredMails | async" [value]="mail">
            {{mail}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>
<br>
    <div class="table-row" >
      <span>Subject</span>
      <mat-form-field appearance="outline" color="accent">
        <input matInput placeholder="">
      </mat-form-field>
    </div>
<br>
      <div class="table-row">
      <span> Body </span>
      <mat-form-field appearance="outline" color="accent" class="mailbody" >
        <textarea matInput placeholder="" rows="10" ></textarea>
      </mat-form-field>
      </div>
      </mat-card-content>
    </mat-card>
  </div>

<div class="right">
<mat-card>
  <mat-card-header>Attachment</mat-card-header>
  <mat-card-content>
    <hr>
<br>
    <div id="att">
      <label for="myfile">Select files:</label>
      <input type="file" id="myfile" name="myfile" multiple><br><br>
    </div>
  </mat-card-content>
  <mat-card-actions align="end">
    <div id="send">
      <button mat-raised-button>Send</button>
      <span></span>
      <button mat-raised-button>Discard</button>
    </div>
  </mat-card-actions>
  </mat-card>
 </div>
  </div>
</div>
