<mat-card-header>
  Project Proposals
  <span class="spacer"></span>
  <mat-button-toggle-group [(value)]="selectedOption">
    <mat-button-toggle value="all">All</mat-button-toggle>
    <mat-button-toggle value="pending">Pending</mat-button-toggle>
  </mat-button-toggle-group>
  <mat-chip-listbox *ngIf="!disableCreation">
    <mat-chip [ngStyle]="{'background-color':proposalAdd ? '#3f51b5' : 'lightgrey','transition':'150ms ease-out'}"
              (click)="proposalAddToggle()">
      <mat-icon [ngStyle]="{'color':proposalAdd ? 'white' : 'black'}">add</mat-icon>
    </mat-chip>
  </mat-chip-listbox>
</mat-card-header>
<mat-card-content *ngIf="!proposalAdd">
  <mat-accordion>
    <mat-expansion-panel *ngFor="let proposal of findProposalByStatus" (closed)="currentFeedback=''">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{proposal.title}}<br>
          {{proposal.feedback}}
        </mat-panel-title>
        <mat-panel-description>
          {{proposal.createdDate | date:'dd/MM/yyyy'}}<br>
          {{proposal.status}}
        </mat-panel-description>
      </mat-expansion-panel-header>
<!--      <span>comment: {{proposal.comment}}</span><br>-->
      <mat-form-field appearance="outline" class="width" *ngIf="proposal.status.toLowerCase() == 'pending'">
        <mat-label>Feedback</mat-label>
        <input matInput name="feedback" [(ngModel)]="currentFeedback">
      </mat-form-field>
      <mat-action-row *ngIf="disableCreation && proposal.status.toLowerCase() == 'pending'">
        <button mat-raised-button (click)="updateProposalApproval(proposal,true)">Accept</button>
        <button mat-raised-button (click)="updateProposalApproval(proposal,false)">Reject</button>
      </mat-action-row>
    </mat-expansion-panel>
  </mat-accordion>
</mat-card-content>
<mat-card-content *ngIf="proposalAdd">
  <form id="new-proposal" #newProposal="ngForm" (ngSubmit)="createProposal(newProposal.value)">
    <mat-form-field appearance="outline" class="margin-top width">
      <mat-label>Project Title</mat-label>
      <input matInput name="title" ngModel>
    </mat-form-field>
    <mat-form-field appearance="outline" class="width">
      <mat-label>Comments</mat-label>
      <input matInput name="comment" ngModel>
    </mat-form-field>
    <app-file-drop parentDir="projects/proposals/" #fileDrop></app-file-drop>
  </form>
</mat-card-content>
<mat-action-row *ngIf="proposalAdd">
  <button mat-raised-button type="submit" form="new-proposal">Submit</button>
  <button mat-raised-button (click)="discard()">Discard</button>
</mat-action-row>
