<app-nav [linksSet]="navLinks"></app-nav>
<div class="content">
  <app-header></app-header>
  <div class="workspace">
    <mat-card class="proposals">
      <mat-card-header>
        <span class="heading heading-large">Project Proposals</span>
        <span class="spacer"></span>
        <span class="sub-heading heading-large">Not Reviewed</span>
      </mat-card-header>
      <mat-card-content class="scrollable">
        <div *ngFor="let proposal of pendingProposals">
          <div class="grid entry">
            <div class="grid entry-left">
              <span class="heading">Ruk Ropanaya</span>
              <span class="sub-heading">Dehiaththakandiya Maha Vidyalaya</span>
            </div>
            <div class="entry-right">
              <span class="sub-heading">31/02/2023</span>
            </div>
          </div>
          <mat-divider></mat-divider>
        </div>
      </mat-card-content>
    </mat-card>

    <mat-card class="notice-board">
      notice
<!--      notice board-->
    </mat-card>
  </div>
</div>
