
:host,.workspace{
  display: flex;
}

.content{
  flex: 1;

}

mat-card{
  margin: 15px;
  height: 60vh;
}

.left{
  flex: 1;
}

.right{
  flex: 1;

}

.spacer{
  flex: 1 1 auto;
}
.req-entry{
  display: flex;

}
.req-list{
  padding: 5px;
}
mat-card-content{
  height: 100%;
  margin: 10px 0;
}
.bold{
  font-weight: bold;

}
.center{
  justify-items: center;

}
button{
  margin: 5px;

}
.flex{
  display: flex;

}

.hide{
  display: none;
}
mat-label{
  width: 500px;
}
mat-form-field{
  margin: 0 5px;
  white-space: nowrap;
}
.clock.mx-timepicker-overlay,.clock.mx-timepicker-clock{
  width: 10px;
}
