<app-nav></app-nav>
<div class="content">
  <app-header></app-header>
  <div class="workspace">
    <div class="left">
      <mat-card>
        <mat-card-header>
          Request History
          <span class="spacer"></span>
          <mat-chip-listbox>
            <mat-chip-option>
              <mat-icon>
                add
              </mat-icon>
            </mat-chip-option>
          </mat-chip-listbox>
        </mat-card-header>

    <mat-divider></mat-divider>



        <mat-card-content>
           <div *ngFor="let request of requests">
             <div  class="req-list">
               <div class="req-entry">
                 <span>To: {{request.recipient}}</span>
                 <span class="spacer"></span>
                 <span>{{request.sentDate}}</span>
               </div>
               <div class="req-entry">
                 <span>From :- {{request.fromDate}}</span>
                 <span class="spacer"></span>
                 <span>{{request.sentTime}}</span>
               </div>
               <div class="req-entry">
                 <span>To :- {{request.toDate}}</span>
                 <span class="spacer"></span>
                 <span>{{request.status}}</span>
               </div>

             </div>
             <mat-divider></mat-divider>
           </div>


        </mat-card-content>
        <mat-card-actions align="end">
          <button mat-raised-button>Submit</button>
          <button mat-raised-button>Discard</button>
        </mat-card-actions>


      </mat-card>
    </div>
      <div class="right">
        <mat-card>
          <mat-card-header>
            Grant Status
          </mat-card-header>


          <mat-card-content class="center">
           <div>
             <span class="bold">{{grantDetails.grantee}}</span> accepted the request

           </div>
            <button mat-raised-button color="primary">Grant Permissions</button>

            <div class="flex">
              <span>
                {{grantDetails.fromDate}}<br>{{grantDetails.fromTime}}
              </span>
              <span class="spacer"></span>
              <span>
                {{grantDetails.toDate}}<br>{{grantDetails.toTime}}
              </span>
            </div>

          </mat-card-content>
        </mat-card>
      </div>

  </div>
</div>
