<app-nav></app-nav>
<div class="content">
  <app-header></app-header>
  <div class="workspace">
    <div class="left">
      <mat-card class="leavePage">
        <mat-card-header>
          Leave Details
          <span class="spacer"></span>
          <mat-chip-listbox>
            <mat-chip [ngStyle]="{'background-color':add ? '#3f51b5' : 'lightgrey','transition':'150ms ease-out'}" (click)="addToggle()">
              <mat-icon [ngStyle]="{'color':add ? 'white' : 'black'}">add</mat-icon>
            </mat-chip>
          </mat-chip-listbox>
        </mat-card-header>
        <mat-divider></mat-divider>


        <mat-card-content *ngIf="!add">
          <div *ngFor="let request of leaveRequests">
            <div  class="req-list">
              <div class="req-entry">
                <span>{{request?.reason}}</span>
                <span class="spacer"></span>
                <span>{{request?.submittedDate}}</span>
              </div>
              <div class="req-entry">
                <span>From :- {{request?.startDate}}</span>
                <span class="spacer"></span>
                <span>{{request?.submittedDate}}</span>
              </div>
              <div class="req-entry">
                <span>To :- {{request?.endDate}}</span>
                <span class="spacer"></span>
                <span>{{request?.status}}</span>
              </div>

            </div>
            <mat-divider></mat-divider>
          </div>
        </mat-card-content>



        <mat-card-content *ngIf="add">
          <form id="request-form" #newRequest="ngForm" (ngSubmit)="createLeaveRequest(newRequest.value)">
            <mat-radio-group color="primary" ngModel name="type">
              <mat-radio-button value="sick">Sick Leave</mat-radio-button>
              <mat-radio-button value="duty">Duty Leave</mat-radio-button>
              <mat-radio-button value="other">Other Leave</mat-radio-button>

            </mat-radio-group>

            <span>
            <mat-form-field appearance="outline" class="width">
              <input matInput placeholder="Reason for leave" ngModel name="reason">
            </mat-form-field>
          </span>


            <div class="flex">
              <mat-form-field appearance="outline" class="width" >
                <mat-label>Date of commencing leave </mat-label>
                <input matInput [matDatepicker]="picker" ngModel name="startDate">
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>

              <span class="spacer"></span>
            </div>

            <div class="flex">
              <mat-form-field appearance="outline" class="width">
                <mat-label>Date of assuming duties</mat-label>
                <input matInput [matDatepicker]="picker1" ngModel name="endDate">
                <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
                <mat-datepicker #picker1></mat-datepicker>
              </mat-form-field>
            </div>

          </form>


        </mat-card-content>

        <mat-card-actions align="end" *ngIf="add">
          <button mat-raised-button type="submit" form="request-form">Submit</button>
          <button mat-raised-button (click)="addToggle()">Discard</button>
        </mat-card-actions>

      </mat-card>
    </div>
     <div class="right" >
      <mat-card>
        <app-leaves-overview [teacherID]="userID"></app-leaves-overview>
      </mat-card>
      </div>
  </div>
</div>
