<app-nav></app-nav>
<div class="content">
  <app-header></app-header>
  <div class="workspace">
    <div class="left">
      <mat-card class="leavePage">
        <mat-card-header>
          Leave Details
          <span class="spacer"></span>
          <mat-chip-listbox>
            <mat-chip [ngStyle]="{'background-color':add ? '#3f51b5' : 'lightgrey','transition':'150ms ease-out'}" (click)="addToggle()">
              <mat-icon [ngStyle]="{'color':add ? 'white' : 'black'}">add</mat-icon>
            </mat-chip>
          </mat-chip-listbox>
        </mat-card-header>
        <mat-divider></mat-divider>


        <mat-card-content *ngIf="add">
          <div *ngFor="let request of requests">
            <div  class="req-list">
              <div class="req-entry">
                <span>Medical Apoinment</span>
                <span></span>
                <span class="spacer"></span>
                <span>{{request.sentDate}}</span>
              </div>
              <div class="req-entry">
                <span>From :- {{request.fromDate}}</span>
                <span class="spacer"></span>
                <span>{{request.sentTime}}</span>
              </div>
              <div class="req-entry">
                <span>To :- {{request.toDate}}</span>
                <span class="spacer"></span>
                <span>{{request.status}}</span>
              </div>

            </div>
            <mat-divider></mat-divider>
          </div>
        </mat-card-content>



        <mat-card-content *ngIf="!add">


           <span>
            <mat-form-field appearance="outline" class="width">
              <input matInput placeholder="Reason for leave">
            </mat-form-field>
          </span>


          <div class="flex">
            <mat-form-field appearance="outline" class="width">
              <mat-label>Date of commencing leave </mat-label>
              <input matInput [matDatepicker]="picker">
              <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>

            <span class="spacer"></span>
          </div>


          <div class="flex">
            <mat-form-field appearance="outline" class="width">
              <mat-label>Date of assuming duties</mat-label>
              <input matInput [matDatepicker]="picker1">
              <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
              <mat-datepicker #picker1></mat-datepicker>
            </mat-form-field>
          </div>

        </mat-card-content>

        <mat-card-actions align="end" *ngIf="!add">
          <button mat-raised-button>Submit</button>
          <button mat-raised-button>Discard</button>
        </mat-card-actions>

      </mat-card>
    </div>




      <div class="right" >
      <mat-card>
        <mat-card-header>
          Leave overview
        </mat-card-header>
      </mat-card>
      </div>

  </div>
</div>
