<app-nav></app-nav>
<div class="content">
  <app-header></app-header>
  <div class="workspace">
    <div class="left">
      <mat-card class="attendance">
        <mat-card-header>
          Attendance Sheet
          <span class="spacer"></span>
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Choose a date</mat-label>
            <input matInput [max]="maxDate" [matDatepicker]="picker" [value]="maxDate"
                   (dateInput)="selectedDate=$event.value;getAttendance()">
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </mat-card-header>
        <mat-card-content class="attend-sheet">
          <div *ngFor="let attendance of attendanceSheet?.attendanceRecords">
           <span class="attend-entry">
             {{ getStudentName(attendance.studentID) }}
             <span class="spacer"></span>
             <mat-checkbox color="primary" [disabled]="marked" [checked]="attendance.attendance || false" #checkbox
                           (click)="attendance.attendance=checkbox.checked;getAttendanceCount();checkIfAllMarked()"
                           [indeterminate]="attendance.attendance!=null && !attendance.attendance">
             </mat-checkbox>
           </span>
            <mat-divider></mat-divider>
          </div>
        </mat-card-content>
        <mat-card-actions align="end" *ngIf="!marked">
          <button mat-raised-button (click)="createAttendance()" [disabled]="!isAllMarked">Submit</button>
          <button mat-raised-button (click)="getAttendance();isAllMarked=false">Clear</button>
        </mat-card-actions>
      </mat-card>
    </div>
    <div class="right">
      <mat-card class="attensummary">
        <mat-card-header>
          Attendance Summary
        </mat-card-header>
        <mat-card-content>
          <app-tchr-class-attendance [total]="totalCount" [present]="presentCount"></app-tchr-class-attendance>
          <div class="attendance-summary">
            <div class="box">
              <div class="inline-block">
                <p class="big-text">{{presentCount}}</p>
                <p class="sub-header">Present</p>
              </div>
              <mat-divider class="inline-block" [vertical]="true"></mat-divider>
              <div class="inline-block">
                <p class="big-text">{{absentCount}}</p>
                <p class="sub-header">Absent</p>
              </div>
            </div>
          </div>
          <div class="attendance-summary">
            <div class="inline-block">
              <p class="big-text">{{totalCount}}</p>
              <p class="sub-header">Total Students</p>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
