:host,.workspace{
  display: flex;
}

.content{
  flex: 1;
}

mat-card{
  margin: 15px;
}

.left{
  flex: 1;
}

.right{
  flex: 1;
}


.spacer{
  flex: 1 1 auto;
}

.attendance{
  height: 85vh;
}

button{
  margin: 5px;
}

mat-card-content{
  overflow: auto;
  height: 70vh;
}

.attensummary{
  height: 85vh;
}

mat-card-header{
  border-bottom: 1.5px solid gray;
}

.attend-entry{
  display: flex;
  align-items: center;
}

.inline-block{
  display: inline-block;
}

.box{
  align-items: center;
  display: flex;
  text-align: center;
}

p{
  margin: 10px 0;
}

.big-text{
  font-weight: bold;
  font-size: xx-large;
}

.attendance-summary{
  display:flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 25px;
}

mat-divider.mat-divider-vertical{
  height: 70px;
  border-right-width: 5px;
  margin: auto 20px;
  border-radius: 10px;
}

.sub-header{
  color: gray;
}
