<app-nav></app-nav>
<div class="content">
  <app-header></app-header>
  <div class="workspace">
    <div class="left">
      <mat-card class="attendance">
        <mat-card-header>
          Attendance Sheet
          <span class="spacer"></span>
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Choose a date</mat-label>
            <input matInput [max]="maxDate" [matDatepicker]="picker1" [value]="maxDate" (dateChange)="getAttendance($event.value)">
            <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
          </mat-form-field>
        </mat-card-header>
        <mat-card-content class="attend-sheet">
         <div *ngFor="let student of students" >
           <span class="attend-entry">
             {{ student.name }}
           <span class="spacer" ></span>
             <mat-checkbox [checked]="getAttendanceRecord(student.id)"></mat-checkbox>
           </span>
           <mat-divider></mat-divider>
         </div>
        </mat-card-content>
        <mat-card-actions align="end">
          <button mat-raised-button>Submit</button>
        </mat-card-actions>
      </mat-card>
    </div>
    <div class="right">
      <mat-card class="attensummary">
        <mat-card-header>
          Attendance Summary
        </mat-card-header>
        <mat-card-content>
          Present: {{getPresentCount()}}
          Absent:{{getAbsentCount()}}
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
