<p mat-dialog-title>New Assessment</p>
<form mat-dialog-content ngForm #form="ngForm">
  <mat-form-field appearance="outline" class="margin-top">
    <mat-label>Assessment Name</mat-label>
    <input matInput placeholder="Enter assessment name" name="name" ngModel>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Available From</mat-label>
    <input matInput [matDatepicker]="picker" placeholder="Choose a date" name="date" ngModel [min]="today">
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <ngx-file-drop (onFileDrop)="dropped($event)" dropZoneClassName="file-drop-zone"
                 [directory]="false" contentClassName="file-drop-content" #drop (click)="drop.openFileSelector()">
    <ng-template ngx-file-drop-content-tmp>
      <div *ngIf="!files.length" class="grid drop-template">
        <mat-icon>cloud_upload</mat-icon>
        <span>Drop files here</span>
        <span>or</span>
        <span>Browse</span>
      </div>
      <div class="grid file-list" *ngIf="files.length">
        <span *ngFor="let file of files" class="grid">
         <span>{{file.name}}</span>
         <span>{{file.size}}</span>
          <mat-icon (click)="deleteAssessment(file)">delete</mat-icon>
        </span>
      </div>
    </ng-template>
  </ngx-file-drop>
</form>
<div mat-dialog-actions [align]="'end'">
  <button mat-button (click)="cancel()">Cancel</button>
  <button mat-button (click)="createAssessment(form.value)">Save</button>
</div>
