<app-nav></app-nav>
<div class="content">
  <app-header headerTitle="Teacher's Schedule"></app-header>
  <div class="workspace">
    <div class="left">
      <mat-card>
        <mat-card-header>
          Teachers
        </mat-card-header>
        <mat-card-content>
          <div *ngFor="let teacher of teachers" [ngClass]="{'selected':selectedTeacherID==teacher.id}">
           <span class="teacher-entry" (click)="selectedTeacherID=teacher.id">
             {{ teacher.name }}
             <span class="spacer"></span>
             {{ teacher.subject }}
           </span>
            <mat-divider></mat-divider>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="right">
      <mat-card>
        <app-schedule [sclID]="sclID" [teacherID]="selectedTeacherID"></app-schedule>
      </mat-card>
    </div>
  </div>
</div>
