<app-nav></app-nav>
<div class="content">
  <app-header headerTitle="Teacher's Schedule"></app-header>
  <div class="workspace">
    <div class="left">
      <mat-card>
        <mat-card-header>
          Teachers
        </mat-card-header>
        <mat-card-content>
          <div *ngFor="let teacher of teachers">
           <span class="teacher-entry">
             {{ teacher.name }}
             <span class="spacer"></span>
             {{ teacher.subject }}
           </span>
            <mat-divider></mat-divider>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="right">
      <mat-card>
        <mat-card-header>
          Schedule
          <span class="spacer"></span>
          <mat-chip-listbox>
            <mat-chip [ngStyle]="{'background-color':modify ? '#3f51b5' : ''}" (click)="modifyToggle()">
              <mat-icon [ngStyle]="{'color':modify ? 'white' : 'black'}">create</mat-icon>
            </mat-chip>
          </mat-chip-listbox>
        </mat-card-header>
        <mat-card-content>
          <table mat-table [dataSource]="schedule">

            <ng-container matColumnDef="period">
              <th mat-header-cell *matHeaderCellDef></th>
              <td mat-cell *matCellDef="let element"> {{element.period}} </td>
            </ng-container>

            <ng-container matColumnDef="mon">
              <th mat-header-cell *matHeaderCellDef> Monday </th>
              <td mat-cell *matCellDef="let element" [ngStyle]="{'background-color':element.mon == '---' ? 'cyan' : element.color}">
                <mat-select [(value)]="element.mon" [disabled]="!modify" [ngClass]="{'hide':!modify}">
                  <mat-option *ngFor="let cls of classes" [value]="cls">
                    {{cls}}
                  </mat-option>
                </mat-select>
              </td>
            </ng-container>

            <ng-container matColumnDef="tue">
              <th mat-header-cell *matHeaderCellDef> Tuesday </th>
              <td mat-cell *matCellDef="let element" [ngStyle]="{'background-color':element.tue == '---' ? 'cyan' : element.color}">
                <mat-select [(value)]="element.tue" [disabled]="!modify" [ngClass]="{'hide':!modify}">
                  <mat-option *ngFor="let cls of classes" [value]="cls">
                    {{cls}}
                  </mat-option>
                </mat-select>
              </td>
            </ng-container>

            <ng-container matColumnDef="wed">
              <th mat-header-cell *matHeaderCellDef> Wednesday </th>
              <td mat-cell *matCellDef="let element" [ngStyle]="{'background-color':element.wed == '---' ? 'cyan' : element.color}">
                <mat-select [(value)]="element.wed" [disabled]="!modify" [ngClass]="{'hide':!modify}">
                  <mat-option *ngFor="let cls of classes" [value]="cls">
                    {{cls}}
                  </mat-option>
                </mat-select>
              </td>
            </ng-container>

            <ng-container matColumnDef="thu">
              <th mat-header-cell *matHeaderCellDef> Thursday </th>
              <td mat-cell *matCellDef="let element" [ngStyle]="{'background-color':element.thu == '---' ? 'cyan' : element.color}">
                <mat-select [(value)]="element.thu" [disabled]="!modify" [ngClass]="{'hide':!modify}">
                  <mat-option *ngFor="let cls of classes" [value]="cls">
                    {{cls}}
                  </mat-option>
                </mat-select>
              </td>
            </ng-container>

            <ng-container matColumnDef="fri">
              <th mat-header-cell *matHeaderCellDef> Friday </th>
              <td mat-cell *matCellDef="let element" [ngStyle]="{'background-color':element.fri == '---' ? 'cyan' : element.color}">
                <mat-select [(value)]="element.fri" [disabled]="!modify" [ngClass]="{'hide':!modify}">
                  <mat-option *ngFor="let cls of classes" [value]="cls">
                    {{cls}}
                  </mat-option>
                </mat-select>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
        </mat-card-content>
        <mat-card-actions align="end" *ngIf="modify">
          <button mat-raised-button>Save</button>
          <button mat-raised-button (click)="modifyToggle()">Discard</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
