:host,.workspace{
  display: flex;
}

.content{
  flex: 1;
}

.school{
  margin: 15px;
  height: 42vh;
}

.projprop{
  margin: 15px;
  height: 43vh;
}

.left{
  flex: 1;
}

.right{
  flex: 1;
}

.spacer{
  flex: 1 1 auto;
}

.milestone{
  margin: 15px 15px 15px 0;
  height: 87vh;
}

mat-card-header{
  border-bottom: 1.5px solid gray;
}

.flex{
  display: flex;
}

.entry{
  padding: 5px 17px;
}

.margin-top{
  margin-top: 10px;
}

.width{
  width: 100%;
}

.pointer{
  cursor: pointer;
}

mat-card-content{
  padding: 0;
}

mat-expansion-panel-header{
  padding: 5px 17px;
}

.selected{
  background-color: blue;
  color: white;
}
