<app-nav></app-nav>
<div class="content">
  <app-header></app-header>
  <div class="workspace">
    <div class="left">
   <mat-card class="school">
     <mat-card-header>
       Schools
     </mat-card-header>
     <mat-card-content>
       <div *ngFor="let school of schools" [ngClass]="{selected:selectedSchoolID == school.id}">
         <div class="entry pointer" (click)="selectedSchoolID=school.id; getProposals()">
           <div class="flex">
             {{school.name}}
           </div>
         </div>
         <mat-divider></mat-divider>
       </div>
     </mat-card-content>
   </mat-card>
      <mat-card class="projprop">
        <mat-card-header>
          Project Proposals
          <span class="spacer"></span>
          <mat-button-toggle-group [(value)]="selectedOption">
            <mat-button-toggle value="all">All</mat-button-toggle>
            <mat-button-toggle value="pending">Pending</mat-button-toggle>
          </mat-button-toggle-group>
        </mat-card-header>
        <mat-card-content>
          <mat-accordion>
            <mat-expansion-panel [hideToggle]="proposal.status.toLowerCase() != 'pending'" *ngFor="let proposal of proposals">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  {{proposal.title}}<br>
                  {{proposal.feedback}}
                </mat-panel-title>
                <mat-panel-description>
                  {{proposal.createdDate | date:'dd/MM/yyyy'}}<br>
                  {{proposal.status}}
                </mat-panel-description>
              </mat-expansion-panel-header>
              <mat-action-row *ngIf="proposal.status.toLowerCase() == 'pending'">
                <button mat-raised-button (click)="updateProposalApproval(proposal,true)">Accept</button>
                <button mat-raised-button (click)="updateProposalApproval(proposal,false)">Reject</button>
              </mat-action-row>
            </mat-expansion-panel>
          </mat-accordion>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="right">
      <mat-card class="project-details">
        <app-project-details></app-project-details>
      </mat-card>
      <mat-card class="milestones">
        <app-project-milestones></app-project-milestones>
      </mat-card>
    </div>
  </div>
</div>
