<app-nav></app-nav>
<div class="content">
  <app-header></app-header>
  <div class="workspace">
    <div class="left">
   <mat-card class="school">
     <mat-card-header>
       Schools
     </mat-card-header>
     <mat-card-content>
       <div *ngFor="let school of schools" [ngClass]="{selected:selectedSchoolID == school.id}">
         <div class="entry pointer" (click)="selectedSchoolID=school.id">
           <div class="flex">
             {{school.name}}
           </div>
         </div>
         <mat-divider></mat-divider>
       </div>
     </mat-card-content>
   </mat-card>
      <mat-card class="projprop">
        <app-project-proposals [sclID]="selectedSchoolID" [disableCreation]="true"></app-project-proposals>
      </mat-card>
    </div>
    <div class="right">
      <mat-card class="project-details">
        <app-project-details [sclID]="selectedSchoolID" [disableEdit]="true" #projectComp></app-project-details>
      </mat-card>
      <mat-card class="milestones">
        <app-project-milestones [project]="projectComp.selectedProject"></app-project-milestones>
      </mat-card>
    </div>
  </div>
</div>
