:host,.workspace{
  display: flex;
}

.content{
  flex: 1;
}

mat-card{
  height: 60vh;
}

.left{
  flex: 2;
}

.right{
  flex: 3;
}

.left-card{
  margin: 15px 0 15px 15px;
}

.right-card{
  margin: 15px;
}

.spacer{
  flex: 1 1 auto;
}

button{
  margin: 5px;
}

mat-card-content{
  overflow: auto;
  height: 100%;
}

mat-card-header{
  border-bottom: 1.5px solid gray;
}

.allocate-entry,.teacher-entry{
  display: flex;
  align-items: center;
  margin: 5px;
}

mat-select{
  width: 20vw;
  padding: 3px;
  margin: 1px;
  border-radius: 20px;
}

/deep/ .mat-mdc-select-disabled /deep/ .mat-mdc-select-value, /deep/ .mat-mdc-select-value, /deep/ .mat-mdc-select-arrow{
  color: white;
  margin: 0 10px 0 10px;
}

.hide /deep/ .mat-mdc-select-arrow{
  display: none;
}


