<app-nav></app-nav>
<div class="content">
  <app-header headerTitle="Relief Allocation"></app-header>
  <div class="workspace">
    <div class="left">
      <mat-card class="left-card">
        <mat-card-header>
          Teachers on Leave
          <span class="spacer"></span>
          Today
        </mat-card-header>
        <mat-card-content>
          <div *ngFor="let teacher of teachersOnLeave">
            <div class="teacher-entry" [ngClass]="{selected:selectedTeacherID==teacher.id}" (click)="getReliefSlotsCandidates(teacher.id)">
              {{teacher.name}}
              <span class="spacer"></span>
              {{teacher.subject}}
            </div>
            <mat-divider></mat-divider>
          </div>
          <span class="not-available" *ngIf="!teachersOnLeave.length">No Teachers are on Leave</span>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="right">
      <mat-card class="right-card">
        <mat-card-header>
          Class Allocation
          <span class="spacer"></span>
          <mat-icon (click)="modifyToggle()" [ngClass]="{active:modify}">create</mat-icon>
        </mat-card-header>
        <mat-card-content>
          <div *ngFor="let reliefSlot of reliefSlotsWithCandidates;let i=index">
            <div class="allocate-entry">
              Class {{reliefSlot.className}} Period {{reliefSlot.period}}
              <span class="spacer"></span>
              <div>
                <mat-select [placeholder]="modify ? 'Select a Teacher':'Not Allocated'"
                            [(value)]="reliefSlot.allocatedTeacher"
                            [ngStyle]="{'background-color':reliefSlot.allocatedTeacher == null ? 'lightgrey' : 'blue'}"
                            [disabled]="!modify" [ngClass]="{'hide':!modify}">
                  <mat-option [value]=null class="remove">{{reliefSlot.availableTeachers.length?"Remove Selection":"No Available Teachers"}}</mat-option>
                  <mat-option *ngFor="let teacher of reliefSlot.availableTeachers" [value]="teacher.id">
                    {{teacher.name}}
                  </mat-option>
                </mat-select>
              </div>
            </div>
            <mat-divider></mat-divider>
          </div>
        </mat-card-content>
        <mat-card-actions align="end" *ngIf="modify">
          <button mat-raised-button>Allocate</button>
          <button mat-raised-button (click)="modifyToggle()">Discard</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
