<app-nav></app-nav>
<div class="content">
  <app-header headerTitle="Relief Allocation"></app-header>
  <div class="workspace">
    <div class="left">
      <mat-card class="left-card">
        <mat-card-header>
          Teachers on Leave
          <span class="spacer"></span>
          Today
        </mat-card-header>
        <mat-card-content>
          <div *ngFor="let tol of teachersOnLeave">
            <div class="teacher-entry">
              {{tol.teacher}}
              <span class="spacer"></span>
              {{tol.subject}}
            </div>
            <mat-divider></mat-divider>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="right">
      <mat-card class="right-card">
        <mat-card-header>
          Class Allocation
          <span class="spacer"></span>
          <mat-chip-listbox>
            <mat-chip [ngStyle]="{'background-color':modify ? '#3f51b5' : 'lightgrey','transition':'150ms ease-out'}" (click)="modifyToggle()">
              <mat-icon [ngStyle]="{'color':modify ? 'white' : 'black'}">create</mat-icon>
            </mat-chip>
          </mat-chip-listbox>
        </mat-card-header>
        <mat-card-content>
          <div *ngFor="let relief of reliefs">
            <div class="allocate-entry">
              Class {{relief.class}} Period {{relief.period}}
              <span class="spacer"></span>
              <div>
                <mat-select [placeholder]="modify ? 'Select a Teacher':'Not Allocated'"
                            [(value)]="relief.allocatedTchr"
                            [ngStyle]="{'background-color':relief.allocatedTchr == null ? 'lightgrey' : 'blue'}"
                            [disabled]="!modify" [ngClass]="{'hide':!modify}">
                  <mat-option [value]=null class="remove">Remove Selection</mat-option>
                  <mat-option *ngFor="let teacher of availTeachers" [value]="teacher">
                    {{teacher}}
                  </mat-option>
                </mat-select>
              </div>
            </div>
            <mat-divider></mat-divider>
          </div>
        </mat-card-content>
        <mat-card-actions align="end" *ngIf="modify">
          <button mat-raised-button>Allocate</button>
          <button mat-raised-button (click)="modifyToggle()">Discard</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
