:host{
  display: flex;
}

.content{
  flex: 1;
  height: 100vh;
  overflow: hidden;
}

.workspace{
  display: grid;
  grid-gap: 15px;
  grid-template-columns: repeat(auto-fit,minmax(10.8%,1fr));
  grid-template-rows: repeat(16,3.8%);
  height: 85%;
  overflow: auto;
  padding: 15px;
}

.workspace>*{
  grid-column: span 4;
  min-height: 130px;
}

.overview{
  grid-row: span 9;
}

.notice-board{
  grid-row: span 9;
}

.overview>mat-card-content{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
  grid-gap: 10px;
}

.tile{
  background-color: mediumblue;
  border-radius: 10px;
  padding: 8px;
  color: white;
  display: grid;
  grid-gap: 5px;
}

.count{
  font-size: xxx-large;
  justify-self: right;
  margin: 5px 0;
}


