<app-nav [linksSet]="navLinks"></app-nav>
<div class="content">
  <app-header></app-header>
  <div class="workspace">
    <mat-card class="overview">
      <mat-card-header>
        <span class="heading heading-large">User Overview</span>
      </mat-card-header>
      <mat-card-content class="scrollable">
        <div *ngFor="let userCount of usersCount" class="tile">
          <div class="heading">{{userCount.user}}</div>
          <div class="count">{{userCount.count}}</div>
        </div>
      </mat-card-content>
    </mat-card>

    <mat-card class="notice-board">
      notice
      <!--        notice component-->
    </mat-card>
  </div>
</div>
