:host{
  display: flex;
}
.content{
  flex: 1;
}

mat-card{
  margin: 15px;
  width: 50%;
  height: 60%;

}
#Head{
  text-align: right;

}
.spacer{
  flex: 1 1 auto;
}

mat-chip-listbox{
  display: block;
}
mat-form-field{
  display: block;
}
textarea{
  resize: none;
  height: 60px;
}
button{
  margin: 5px;
}
