:host{
  display: flex;
}
.content{
  flex: 1;
}

mat-card{
  margin: 15px;
  width: 50%;
  height: 60%;

}
#Head{
  text-align: right;

}
.spacer{
  flex: 1 1 auto;
}

mat-chip-listbox,mat-tab-group{
  display: inline;
}
mat-form-field{
  display: block;
}
textarea{
  resize: none;
  height: 60px;
}
button{
  margin: 5px;
  float: right;
}

form{
  display:none ;
}
.mat-mdc-form-field + .mat-mdc-form-field {
  margin-left: 8px;
}

mat-panel-description{
  justify-content: right;
  text-align: right;
}

mat-panel-title {
  white-space: nowrap;
}

mat-card-content{
  overflow: auto;
}
mat-card-header{
  border-bottom: 1.5px solid gray;

}
