<app-nav></app-nav>
<div class="content">
  <app-header></app-header>
  <mat-card>
    <mat-card-header>
      {{create? 'New Notice': 'Notice Board'}}
      <span class="spacer"></span>
          <mat-button-toggle-group *ngIf="!create" [(value)]="noticeBox">
            <mat-button-toggle value="all">All</mat-button-toggle>
            <mat-button-toggle value="post">Post</mat-button-toggle>
          </mat-button-toggle-group>
          <mat-chip-listbox>
            <mat-chip [ngStyle]="{'background-color':create ? '#3f51b5' : 'lightgrey','transition':'150ms ease-out'}" (click)="createToggle()">
              <mat-icon [ngStyle]="{'color':create ? 'white' : 'black'}">post_add</mat-icon>
            </mat-chip>
            <mat-chip *ngIf="!create" [ngStyle]="{'background-color':delete ? '#3f51b5' : 'lightgrey','transition':'150ms ease-out'}" (click)="deleteToggle()">
              <mat-icon [ngStyle]="{'color':delete ? 'white' : 'black'}">delete</mat-icon>
            </mat-chip>
          </mat-chip-listbox>
    </mat-card-header>
    <mat-card-content *ngIf="create">
      <form>
        <mat-form-field appearance="outline">
          <mat-label>Select category</mat-label>
          <mat-select multiple>
            <mat-option *ngFor="let category of categories" [value]="category.value">
              {{category.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label >
           Subject
          </mat-label>
          <input matInput >
        </mat-form-field>
        <mat-form-field class="body" appearance="outline">
          <mat-label>
            Body
          </mat-label>
          <textarea matInput></textarea>
        </mat-form-field>
      </form>
    </mat-card-content>
    <mat-card-actions *ngIf="create" align="end">
      <button mat-raised-button>Discard</button>
      <button mat-raised-button>Post</button>
    </mat-card-actions>

      <mat-card-content class="notices" *ngIf="!create">
        <mat-accordion>
          <mat-expansion-panel *ngFor="let notice of (noticeBox=='all'?notices:getPostedNotices())">
            <mat-expansion-panel-header [collapsedHeight]="'70px'" [expandedHeight]="'70px'">
              <mat-panel-title >
                {{notice.sender}}
                <br>
                {{notice.subject}}
              </mat-panel-title>
              <mat-panel-description>
               {{notice.date}}
                <br>
                {{notice.time}}
                  <mat-checkbox *ngIf="delete"></mat-checkbox>
              </mat-panel-description>
            </mat-expansion-panel-header>
            <p>{{notice.content}}</p>
          </mat-expansion-panel>
        </mat-accordion>
      </mat-card-content>
    <mat-card-actions *ngIf="delete" align="end">
      <button mat-raised-button>Delete</button>
      <button mat-raised-button>Discard</button>
    </mat-card-actions>
  </mat-card>
</div>


