<app-nav></app-nav>
<div class="content">
  <app-header headerTitle="Assessments"></app-header>
  <div class="workspace">
    <mat-card class="left">
      <mat-card-header>
        Subjects
      </mat-card-header>
      <mat-card-content>
        <div *ngFor="let subject of subjectAssessments; let i=index">
          <div class="entry" (click)="selectedSubject=i">
            {{subject.subject}}
            <span class="spacer"></span>
          </div>
          <mat-divider></mat-divider>
        </div>
      </mat-card-content>
    </mat-card>
    <mat-card class="right">
      <mat-card-header>
        Assessments
      </mat-card-header>
      <mat-card-content>
        <div *ngFor="let assessment of subjectAssessments[selectedSubject].assessments">
          <div class="entry">
            <div class="flex">
              {{assessment.fileName}}
              <span class="spacer"></span>
              {{assessment.date}}
            </div>
            <div class="flex">
              <span class="spacer"></span>
              {{assessment.time}}
            </div>
          </div>
          <mat-divider></mat-divider>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
