
.content{
  flex: 1;
}

.spacer{
  flex: 1 1 auto;
}

.milestones{
  margin: 15px 15px 15px 0;
  height: 87vh;
}

mat-card-header{
  border-bottom: 1.5px solid gray;
}

.flex{
  display: flex;
}

mat-accordion{
  width: 100%;
}

mat-panel-description{
  justify-content: right;
  text-align: end;}

.big-icon {
  width: 100px;
  height: 100px;
  font-size: 56px;
}

.mat-panel-title{
  white-space: nowrap;
}



