
        <mat-card-header>
          Project Milestones
          <span class="spacer"></span>
        </mat-card-header>
        <mat-card-content>
          <mat-accordion>
            <mat-expansion-panel hideToggle *ngFor="let milestone of milestones">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  {{milestone.title}}<br>
                  {{milestone.feedback}}
                </mat-panel-title>
                <mat-panel-description>
                  {{milestone.dueDate}}<br>
                  {{milestone.proofs.length}} Proofs Available
                </mat-panel-description>
              </mat-expansion-panel-header>
              <div class="flex">
                <mat-icon class="big-icon" *ngFor="let proof of milestone.proofs">{{proof.fileType}}</mat-icon>
                <span class="spacer"></span>
                <mat-chip-listbox>
                  <mat-chip [ngStyle]="{'background-color':milestoneAdd? '#3f51b5' : 'lightgrey','transition':'150ms ease-out'}" (click)="milestoneAddToggle()">
                    <mat-icon [ngStyle]="{'color':milestoneAdd ? 'white' : 'black'}">add</mat-icon>
                  </mat-chip>
                </mat-chip-listbox>
              </div>
              <input type="file" *ngIf="milestoneAdd">
              <mat-action-row *ngIf="milestoneAdd">
                <button mat-raised-button>Submit</button>
                <button mat-raised-button>Discard</button>
              </mat-action-row>
            </mat-expansion-panel>
          </mat-accordion>
        </mat-card-content>
