<mat-card-header>
  Project Milestones
  <span class="spacer"></span>
  <mat-chip-listbox *ngIf="!disableCreation">
    <mat-chip [ngStyle]="{'background-color':milestoneAdd? '#3f51b5' : 'lightgrey','transition':'150ms ease-out'}"
              (click)="milestoneAddToggle()">
      <mat-icon [ngStyle]="{'color':milestoneAdd ? 'white' : 'black'}">add</mat-icon>
    </mat-chip>
  </mat-chip-listbox>
</mat-card-header>
<mat-card-content *ngIf="!milestoneAdd">
  <p *ngIf="!project?.milestones || project.milestones.length == 0">No Milestones Available</p>
  <mat-accordion>
    <mat-expansion-panel *ngFor="let milestone of project?.milestones;let i=index" (closed)="feedbackAdd=proofAdd=false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{milestone.title}}<br>
          {{milestone.feedback}}
        </mat-panel-title>
        <mat-panel-description>
          {{milestone.dueDate | date:'dd/MM/yyyy'}}<br>
          {{milestone.proofs.length}} Proofs Available
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div class="flex">
        <a *ngFor="let proof of milestone.proofs" href="{{proof.downloadUrl}}" target="_blank">
          <mat-icon>insert_drive_file</mat-icon>
        </a>
        <span class="spacer"></span>

        <mat-chip-listbox *ngIf="!disableCreation">
          <mat-chip [ngStyle]="{'background-color':proofAdd? '#3f51b5' : 'lightgrey','transition':'150ms ease-out'}"
                    (click)="proofAddToggle()">
            <mat-icon [ngStyle]="{'color':proofAdd ? 'white' : 'black'}">add</mat-icon>
          </mat-chip>
        </mat-chip-listbox>

        <mat-chip-listbox *ngIf="disableCreation">
          <mat-chip [ngStyle]="{'background-color':feedbackAdd ? '#3f51b5' : 'lightgrey','transition':'150ms ease-out'}"
                    (click)="feedbackAddToggle()">
            <mat-icon [ngStyle]="{'color':feedbackAdd ? 'white' : 'black'}">comment</mat-icon>
          </mat-chip>
        </mat-chip-listbox>
      </div>

      <app-file-drop parentDir="projects/milestones/" #fileDrop *ngIf="proofAdd"></app-file-drop>
      <mat-action-row *ngIf="proofAdd">
        <button mat-raised-button (click)="updateProofs(i)">Submit</button>
        <button mat-raised-button (click)="discard()">Discard</button>
      </mat-action-row>

      <mat-form-field *ngIf="feedbackAdd" appearance="outline" class="full-width">
        <mat-label>Feedback</mat-label>
        <input matInput [(ngModel)]="currentFeedback">
      </mat-form-field>
      <mat-action-row *ngIf="feedbackAdd">
        <button mat-raised-button (click)="updateFeedback(i)">Submit</button>
        <button mat-raised-button (click)="feedbackAddToggle()">Discard</button>
      </mat-action-row>

    </mat-expansion-panel>
  </mat-accordion>
</mat-card-content>

<mat-card-content *ngIf="milestoneAdd">
  <form #newMilestone="ngForm" id="new-milestone" (ngSubmit)="createMilestone(newMilestone)">
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Milestone Title</mat-label>
      <input matInput name="title" ngModel>
    </mat-form-field>
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Due Date</mat-label>
      <input matInput name="dueDate" ngModel [matDatepicker]="picker">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </form>
</mat-card-content>
<mat-action-row *ngIf="milestoneAdd">
  <button mat-raised-button form="new-milestone" type="submit">Create</button>
  <button mat-raised-button (click)="milestoneAddToggle()">Discard</button>
</mat-action-row>
