<app-nav></app-nav>
<div class="content">
  <app-header></app-header>
  <mat-grid-list cols="2" rowHeight="30vh">
    <mat-grid-tile rowspan="3">
      <mat-card>
        <mat-card-header>
          Names
          <span class="spacer"></span>
          <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="end">
            <mat-tab label="First"></mat-tab>
            <mat-tab label="Second"></mat-tab>
          </mat-tab-group>
        </mat-card-header>
        <mat-card-content>

        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile rowspan="2">2</mat-grid-tile>
    <mat-grid-tile rowspan="1">3</mat-grid-tile>
  </mat-grid-list>
</div>


