:host,.workspace{
  display: flex;
}

.content{
  flex: 1;
}

mat-card{
  width: 100%;
  margin: 15px;
  align-self: flex-start;
}

mat-tab-group{
  display: inline;
}

.spacer{
  flex: 1 1 auto
}

mat-card-header{
  border-bottom: 1.5px solid gray;
}

.grades-entry{
  display: flex;
}
