<app-nav></app-nav>
<div class="content">
  <app-header></app-header>
  <mat-grid-list cols="2" rowHeight="30vh">
    <mat-grid-tile rowspan="3">
      <mat-card class="names-card">
        <mat-card-header>
          Students
          <span class="spacer"></span>
          <mat-button-toggle-group [(value)]="selectedOption">
            <mat-button-toggle value="all">All</mat-button-toggle>
            <mat-button-toggle value="incomplete">Incomplete</mat-button-toggle>
          </mat-button-toggle-group>
        </mat-card-header>
        <mat-card-content class="grades-names">
          <div *ngFor="let student of (selectedOption=='all'?students:students);let i = index" [ngClass]="{'selected':i==selectedStudent}">
            <div class="grades-entry" (click)="selectedStudent=i;getSubjects()">
              {{ student.name }}
              <span class="spacer"></span>
<!--              {{name.isCompleted==true ? "Complete":"Incomplete"}}-->
            </div>
            <mat-divider></mat-divider>
          </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile rowspan="2">
      <mat-card class="sub-grades-card">
        <mat-card-header>
          Subject Grades
          <span class="spacer"></span>
          <mat-select placeholder="Select Term" [(value)]="term" (valueChange)="getMarksheets()">
            <mat-option *ngFor="let term of terms" [value]="term.value">{{term.viewValue}}</mat-option>
          </mat-select>
          <mat-chip-listbox>
            <mat-chip [ngStyle]="{'background-color':modify ? '#3f51b5' : 'lightgrey','transition':'150ms ease-out'}" (click)="modifyToggle()">
              <mat-icon [ngStyle]="{'color':modify ? 'white' : 'black'}">create</mat-icon>
            </mat-chip>
          </mat-chip-listbox>
        </mat-card-header>
        <mat-card-content class="grades-names">
          <div *ngFor="let mark of marksheets[selectedStudent]?.marks">
            <div class="grades-entry">
              {{ getSubjectName(mark.subjectID) }}
              <span class="spacer"></span>
              <span *ngIf="!modify">{{mark.mark}}</span>
              <mat-form-field appearance="outline" subscriptSizing="dynamic" *ngIf="modify">
                <input matInput type="number" [max]="100" [(ngModel)]="mark.mark"/>
              </mat-form-field>
            </div>
            <mat-divider></mat-divider>
          </div>
        </mat-card-content>
      </mat-card>
      </mat-grid-tile>
    <mat-grid-tile rowspan="1">
      <mat-card class="grades-summary-card">
        <mat-card-header>
          Grades Summary
        </mat-card-header>
        <mat-card-content class="grades-summary">
            <div class="box">
              <div class="inline-block">
                <p class="big-text">751</p>
                <p>Total Marks</p>
              </div>
              <mat-divider class="inline-block" [vertical]="true"></mat-divider>
              <div class="inline-block">
                <p class="big-text">02</p>
                <p>Rank</p>
              </div>
            </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>


