:host,.workspace{
  display: flex;
}

.content{
  flex: 1;
}

mat-card{
  width: 100%;
  margin: 15px 15px 0 15px;
  align-self: flex-start;
  height: 100%;
}

mat-tab-group{
  display: inline;
}

.spacer{
  flex: 1 1 auto;
}

mat-card-header{
  border-bottom: 1.5px solid gray;
}

.grades-entry{
  display: flex;
  align-items: center;
  height: 40px;
  padding: 0 15px;
}

.names-card .grades-entry{
  cursor: pointer;
}

.grades-names{
  overflow: auto;
}


.grades-summary{
  display:flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;
}

.big-text{
  font-weight: bold;
  font-size: xx-large;
}

mat-divider.mat-divider-vertical{
  height: 70px;
  border-right-width: 5px;
  color: red;
  margin: auto 20px;
}


.inline-block{
  display: inline-block;
}

.box{
  align-items: center;
  display: flex;
  text-align: center;
}

p{
  margin: 5px 0;
}

mat-form-field{
  margin: 5px;
  width: 100px;
}

mat-select{
  width: 120px;
  margin-right: 15px;
  background-color: darkgrey;
  border-radius: 20px;
  padding: 0 5px;
  display: block;
  height: 30px;
}

.selected{
  background-color: mediumblue;
  color: white;
  font-weight: 500;
}

mat-card-content{
  padding: 0;
  height: 70%;
}

button:not([disabled]){
  background-color: mediumspringgreen;
  color: navy;
}
