<app-nav></app-nav>
<div class="content">
  <app-header></app-header>
  <mat-grid-list cols="2" rowHeight="30vh">
    <mat-grid-tile rowspan="3">
      <mat-card>
        <mat-card-header>
          Names
          <span class="spacer"></span>
          <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="end">
            <mat-tab label="All"></mat-tab>
            <mat-tab label="Incomplete"></mat-tab>
          </mat-tab-group>
        </mat-card-header>
        <mat-card-content class="grades-names">
          <span *ngFor="let name of names">
            <div class="grades-entry">
              {{ name.name }}
              <span class="spacer"></span>
              {{name.isCompleted==true ? "Complete":"Incomplete"}}
            </div>
            <mat-divider></mat-divider>
          </span>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile rowspan="2">
      <mat-card>
        <mat-card-header>
          Subject Grades
          <span class="spacer"></span>
          <mat-chip-listbox>
            <mat-chip-option>
              <mat-icon>create</mat-icon>
            </mat-chip-option>
          </mat-chip-listbox>
        </mat-card-header>
        <mat-card-content class="grades-names">
          <div *ngFor="let grade of grades">
            <div class="grades-entry">
              {{ grade.subject }}
              <span class="spacer"></span>
              {{ grade.grade }}
            </div>
            <mat-divider></mat-divider>
          </div>
        </mat-card-content>
      </mat-card>
      </mat-grid-tile>
    <mat-grid-tile rowspan="1">
      <mat-card>
        <mat-card-header>
          Grades Summary
          <span class="spacer"></span>
        </mat-card-header>
        <mat-card-content class="grades-summary">
          <div class="summary-box">
            <div class="inline-block">
              <p class="big-text">751</p>
              <p>Total Marks</p>
            </div>
            <mat-divider vertical inset></mat-divider>
            <div class="inline-block">
              <p class="big-text">02</p>
              <p>Rank</p>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>


