<app-nav></app-nav>
<div class="content">
  <app-header headerTitle="Assessments"></app-header>
  <div class="workspace">
    <mat-card class="left">
      <mat-card-header>
        Teaching Classes
      </mat-card-header>
      <mat-card-content>
        <div *ngFor="let cls of classes; let i=index" [ngClass]="{selected:selectedCls==i}">
          <div class="entry" (click)="selectedCls=i;getAssessments(cls.id,subjectID)">
            Class {{cls.name}}
          </div>
          <mat-divider></mat-divider>
        </div>
      </mat-card-content>
    </mat-card>
    <mat-card class="right">
      <mat-card-header>
        Assessments
        <span class="spacer"></span>
        <mat-icon (click)="openDialog()">add</mat-icon>
        <mat-icon>delete</mat-icon>
      </mat-card-header>
      <mat-card-content>
        <div *ngFor="let assessment of assessments">
          <div class="entry">
            <div class="flex">
              {{assessment.name}}
              <span class="spacer"></span>
              Available From: {{assessment.availableDate | date:'dd/MM/yyyy'}}
            </div>
            <div class="flex">
              <mat-icon *ngFor="let doc of assessment.documents" (click)="doc.downloadUrl && window.open(doc.downloadUrl)">insert_drive_file</mat-icon>
              <span class="spacer"></span>
              Uploaded On: {{assessment.uploadedDate | date:'dd/MM/yyyy'}}
            </div>
          </div>
          <mat-divider></mat-divider>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
