:host,.workspace{
  display: flex;
}

.content{
  flex: 1;
}

.left{
  flex: 1;
  margin: 15px;
}

.right{
  flex: 2;
  margin: 15px 15px 15px 0;
}

mat-card-header{
  border-bottom: 1px solid gray;
}

.entry{
  margin: 5px 0 5px 0;
}

.left .entry{
  cursor: pointer;
}

mat-card-content{
  overflow: auto;
}

mat-card{
  height: 50vh;
}

.flex{
  display: flex;
}

.spacer{
  flex: 1 1 auto;
}

.selected{
  background-color: blue;
  color: white;
}

mat-card-header mat-icon{
  cursor: pointer;
  padding: 5px;
  border-radius: 50%;
}

mat-card-header mat-icon:hover:not(.active){
  background-color: #e0e0e0;
}

.active{
  background-color: mediumspringgreen;
  color: darkblue;
}

button:not([disabled]) {
  background-color: mediumspringgreen;
}
