<mat-drawer-container>
  <mat-drawer position="end" [opened]="isOpen" (closed)="isOpen=false" class="grid">
    <mat-card>
      <mat-calendar [dateClass]="dateClass" [(selected)]="selected"></mat-calendar>
    </mat-card>
    <mat-card>
      <mat-card-header>
        Events
      </mat-card-header>
      <mat-card-content>

      </mat-card-content>
    </mat-card>
    <mat-card>
      <mat-card-header>
        Holidays
      </mat-card-header>
      <mat-card-content>

      </mat-card-content>
    </mat-card>
  </mat-drawer>
</mat-drawer-container>
