.spacer{
  flex: 1 1 auto;
}

mat-card-header{
  border-bottom: 1.5px solid gray;
}

.flex{
  display: flex;
}

mat-accordion{
  width: 100%;
}

mat-panel-description{
  justify-content: right;
  text-align: end;
}

mat-card-content{
  padding: 0;
}

.selected{
  background-color: blue;
  color: white;
}

.selected .mat-expansion-panel-header-title, .selected .mat-expansion-panel-header-description, .selected /deep/.mat-expansion-indicator:after{
  color: white;
}
