:host{
  display: flex;
}

mat-card{
  width: 100%;
  height: 100%;
}

button:not([disabled]){
  background-color: mediumspringgreen;
}

.grid{
  display:grid;
}

.space-between{
  justify-content: space-between;
}

.column{
  grid-auto-flow: column;
}

:not(.selected) .sub-header{
  color: darkgray;
}

.selected{
  background-color: mediumblue;
  color: white;
}

.entry{
  margin: 5px 0;
}

.full-width{
  width: 100%;
}

.spacer{
  flex: 1 1 auto;
}

mat-card-content{
  overflow: auto;
}

mat-card-actions{
  gap: 10px;
}

.gap{
  gap: 5px;
}
