.active{
  background-color: mediumspringgreen;
  color: darkblue;
}

mat-card-header mat-icon{
  cursor: pointer;
  border-radius: 25%;
  padding: 5px;
}

mat-card-header mat-icon:not(.active){
  background-color: rgb(0, 0, 0, 0.2);
}

mat-card-header mat-icon:hover:not(.active){
  background-color: rgb(0, 0, 0, 0.3);
}

button:not([disabled]){
  background-color: mediumspringgreen;
}

.grid{
  display:grid;
}

.space-between{
  justify-content: space-between;
}

.column{
  grid-auto-flow: column;
}

:not(.selected) .sub-header{
  color: darkgray;
}

.selected{
  background-color: mediumblue;
  color: white;
}

.entry{
  margin: 5px 0;
}

.full-width{
  width: 100%;
}

.spacer{
  flex: 1 1 auto;
}
