<mat-card>
  <mat-card-header>
    {{disableCreation ? 'Calendar Approval Requests' : 'Calendar Templates'}}
    <span class="spacer"></span>
    <span *ngIf="!disableCreation" class="flex gap">
      <mat-icon (click)="createToggle()" [ngClass]="{active:create}">create</mat-icon>
      <mat-icon (click)="deleteToggle()" [ngClass]="{active:delete}">delete</mat-icon>
    </span>
  </mat-card-header>
  <mat-card-content class="grid" *ngIf="!create">
    <div *ngFor="let template of templates" class="grid column space-between entry"
         [ngClass]="{selected:selectedTemplate==template}" (click)="selectedTemplate=template">
      <span>{{template.name}}</span>
      <span class="sub-header">
        {{disableCreation ? template.sclID : template.status}}
        <mat-checkbox *ngIf="delete" (click)="toggleDeleteItem(template.id)"></mat-checkbox>
      </span>
    </div>
  </mat-card-content>
  <mat-card-content *ngIf="create">
    <form id="new-template" #newTemplate="ngForm" ngForm (ngSubmit)="createTemplate(newTemplate)">
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Template Name</mat-label>
        <input matInput placeholder="2023 v1" name="name" ngModel required>
      </mat-form-field>
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Year</mat-label>
        <input matInput placeholder="2023" name="sclID" ngModel required>
      </mat-form-field>
    </form>
  </mat-card-content>
  <mat-card-actions *ngIf="create || delete" align="end">
    <button *ngIf="create" mat-raised-button form="new-template" type="submit">Create</button>
    <button *ngIf="delete" mat-raised-button (click)="deleteTemplate()">Delete</button>
    <button mat-raised-button (click)="create=delete=false">Cancel</button>
  </mat-card-actions>
</mat-card>
