:host{
  display: flex;
}

.content{
  flex: 1;
  flex-direction: row;
}

.workspace{
  display: grid;
}

.mat-mdc-unelevated-button:not(:disabled){
  background-color: mediumspringgreen;
  color: navy;
}
