<app-nav [links]="navLinks"></app-nav>
<div class="content">
  <app-header></app-header>
  <div class="workspace">
    <div class="i1">
      <mat-form-field>
        <mat-label>sxnkix</mat-label>
        <input matInput placeholder="dcsd">
      </mat-form-field>
    </div>
    <div class="i2">
      <mat-form-field>
        <mat-label>sxnkix</mat-label>
        <input matInput placeholder="dcsd">
      </mat-form-field>
    </div>
    <div class="i3">
      <mat-form-field>
        <mat-label>sxnkix</mat-label>
        <input matInput placeholder="dcsd">
      </mat-form-field>
    </div>
    <div class="i4">
      <mat-form-field>
        <mat-label>sxnkix</mat-label>
        <input matInput placeholder="dcsd">
      </mat-form-field>
      <button mat-flat-button>submit</button>
    </div>
  </div>
</div>
