
<div class="bodyy">
    <h1>Reset Your Password</h1>
<p>To reset your password Please enter your email address,after click the send button and get the link from mail and reset</p>
<div>

    <form class="form_container" [formGroup]="passResetform"  (ngSubmit)="sendPassResetData()">   
        <input placeholder="Enter Your Email Address" type="text" formControlName="email"  [(ngModel)]="reset.email" required ><br>
        <button  type="submit">Reset Password</button>
    </form>

</div>

</div>
