:host,.workspace{
  display: flex;
}

.content{
  flex: 1;
}

.left{
  flex: 1;
  margin: 15px;
}

.right{
  flex: 1;
  margin: 15px 15px 15px 0;
}

.spacer{
  flex: 1 1 auto;
}

.relief-entry>div{
  display: flex;
}

mat-card-header{
  border-bottom: 1.5px solid gray;
}

.relief-entry{
  margin: 5px 0 5px 0
}
