/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-color: rgb(232,232,232);}

.heading{
  font-weight: 500;
}

.heading-large{
  font-size: medium;
}

.sub-heading{
  color: darkgrey;
}

mat-card-header.mat-mdc-card-header{
  padding: 10px 15px;
}

.entry{
  grid-auto-flow: column;
  margin: 5px 0;
}

.entry-left{
  justify-self: left;
  text-align: left;
}

.entry-right{
  justify-self: right;
  text-align: right;
}

.grid{
  display:grid;
}

.flex{
  display: flex;
}

.content{
  flex: 1;
  height: 100vh;
  overflow: hidden;
}

.workspace{
  display: grid;
  grid-gap: 15px;
  grid-template-columns: repeat(auto-fit,minmax(10.8%,1fr));
  grid-template-rows: repeat(16,3.8%);
  height: 85%;
  overflow: auto;
  padding: 15px;
}

.spacer{
  flex: 1 1 auto;
}

.scrollable{
  overflow: auto;
}

/*mat-card-header{*/
/*  background-color: #f1f1f1;*/
/*}*/

/*mat-card{*/
/*  overflow: hidden;*/
/*}*/
