/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-color: rgb(232,232,232);}

.active{
  background-color: mediumspringgreen;
  color: darkblue;
}

mat-card-header mat-icon{
  cursor: pointer;
  border-radius: 25%;
  padding: 5px;
}

mat-card-header mat-icon:not(.active){
  background-color: rgb(0, 0, 0, 0.2);
}

mat-card-header mat-icon:hover:not(.active){
  background-color: rgb(0, 0, 0, 0.3);
}

mat-card-header mat-icon{
  justify-self: right;
}

.grid{
  display:grid;
}

.flex{
  display: flex;
}
