<app-nav></app-nav>
<div class="content">
  <app-header></app-header>
  <div class="workspace">
    <div class="left">
      <mat-card class="teacher">
        <mat-card-header>
          Teachers
        </mat-card-header>


        <mat-card-content>
          <div *ngFor="let teacher of teachers;let i =index" [ngClass]="{'selected':selectedTeacher==i}" (click)="selectedTeacher=i;getLeaveRequests(teacher.id)">
           <span class="teacher-entry">
             {{ teacher.name }}
           </span>
            <mat-divider></mat-divider>
          </div>
        </mat-card-content>
      </mat-card>
    </div>


    <div class="right">
      <mat-card class="req_history">
        <mat-card-header>
          Request History
          <span class="spacer"></span>
          <mat-button-toggle-group [(value)]="selectedOption">
            <mat-button-toggle value="All">
              All
            </mat-button-toggle>
            <mat-button-toggle value="Pending" (click)="getPendingLeaveRequest()">
              Pending
            </mat-button-toggle>
          </mat-button-toggle-group>
        </mat-card-header>

        <mat-card-content>
          <mat-accordion>
            <mat-expansion-panel *ngFor="let request of (selectedOption=='All'?leaveRequests:pendingLeaveRequests)">
              <mat-expansion-panel-header>
                {{request.reason}}
                {{request.submitedDate}}
                {{request.startDate}}
                {{request.endDate}}
                {{request.leaveType}}
                {{request.id}}
                {{request.teacherID}}
                {{request.status}}

              </mat-expansion-panel-header>
              <mat-action-row *ngIf="request.status =='pending'">
                <button mat-raised-button (click)="createLeaveRecord(request);modifyLeaveRequest(request.id,true)">
                  Accept
                </button>
                <button mat-raised-button (click)="modifyLeaveRequest(request.id,false)">
                  Reject
                </button>
              </mat-action-row>
            </mat-expansion-panel>
          </mat-accordion>



        </mat-card-content>

      </mat-card>

      <mat-card class="leave_overview">
        <mat-card-header>
          Leave Overview
        </mat-card-header>

      </mat-card>
    </div>

</div>
</div>




