<app-nav></app-nav>
<div class="content">
  <app-header></app-header>
  <div class="workspace">
    <div class="left">
      <mat-card class="teacher">
        <mat-card-header>
          Teachers
        </mat-card-header>


        <mat-card-content>
          <div *ngFor="let teacher of teachers" [ngClass]="{'selected':selectedTeacherID==teacher.id}"
               (click)="selectedTeacherID=teacher.id;getLeaveRequests()">
           <span class="teacher-entry">
             {{ teacher.name }}
           </span>
            <mat-divider></mat-divider>
          </div>
        </mat-card-content>
      </mat-card>
    </div>


    <div class="right">
      <app-leave-requests [teacherID]="selectedTeacherID" [disableCreation]="true" class="req_history"></app-leave-requests>
      <app-leaves-overview [teacherID]="selectedTeacherID" class="leave_overview"></app-leaves-overview>
    </div>

  </div>
</div>




