:host{
  display: flex;
}

.content{
  flex: 1;
  height: 100vh;
  overflow: hidden;
}

.workspace{
  display: grid;
  grid-gap: 15px;
  grid-template-columns: repeat(auto-fit,minmax(10.8%,1fr));
  grid-template-rows: repeat(16,3.8%);
  height: 85%;
  overflow: auto;
  padding: 15px;
}

.workspace>*{
  grid-column: span 4;
  min-height: 130px;
}

.attendance{
  grid-row: span 11;
}

.notice-board{
  grid-row: span 8;
}

.assessments{
  grid-row: span 5;
}

.grades{
  grid-row: span 8;
}

.spacer{
  flex: 1 1 auto;
}

.attendance .overview{
  display: grid;
  grid-template-rows: 2fr 5fr;
  height: 100%;
}

mat-divider{
  padding-top: 5px;
}

.flex{
  display: flex;
}

.attendance .overview .value{
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  grid-template-columns: 100px 1px 100px;
}

.big-text{
  font-weight: bold;
  font-size: xx-large;
}

.value mat-divider{
  height: 60%;
  border-right-width: 4px;
  border-radius: 10px;
}

.value p{
  margin:10px 0;
}
