<app-nav></app-nav>
<div class="content">
  <app-header></app-header>
  <div class="workspace">
    <mat-card class="attendance">
      <mat-card-header>
        <span class="header">Attendance Overview</span>
        <span class="spacer"></span>
        <span class="sub-header">This Month</span>
      </mat-card-header>
      <mat-card-content class="overview">
        <div class="value">
          <div>
            <p class="big-text">751</p>
            <p>Total Marks</p>
          </div>
          <mat-divider class="inline-block" [vertical]="true"></mat-divider>
          <div>
            <p class="big-text">02</p>
            <p>Rank</p>
          </div>
        </div>
        <div class="chart">
          <mat-divider></mat-divider>
          <div class="flex">
            <span class="spacer"></span>
            <span class="sub-header">This Year</span>
          </div>
<!--          attendance summary chart-->
        </div>
      </mat-card-content>
    </mat-card>

    <mat-card class="notice-board">
      <mat-card-header>
        <span class="header">Notice Board</span>
      </mat-card-header>
      <mat-card-content>
<!--        notice board tag-->
      </mat-card-content>
    </mat-card>

    <mat-card class="grades">
      <mat-card-header>
        <span class="header">Grades Overview</span>
        <span class="spacer"></span>
        <span class="sub-header">Last Term</span>
      </mat-card-header>
      <mat-card-content>
<!--        grades chart-->
      </mat-card-content>
    </mat-card>

    <mat-card class="assessments">
      <mat-card-header>
        <span class="header">Assessments</span>
        <span class="spacer"></span>
        <span class="sub-header">Today</span>
      </mat-card-header>
      <mat-card-content>
<!--        assessment list-->
      </mat-card-content>
    </mat-card>

  </div>
</div>
