<div class="workspace">
  <mat-card class="schedule">
    <mat-card-header>
      <span class="heading heading-large">Schedule</span>
      <span class="spacer"></span>
      <span class="sub-heading heading-large">Today</span>
    </mat-card-header>
    <mat-card-content class="scrollable">
      <div class="grid tile-grid">
        <div class="grid tile" *ngFor="let period of schedulePeriods">
          <div>1st</div>
          <div class="inner-tile heading">10A</div>
          <span>8.50 to</span>
          <span>9.30 am</span>
        </div>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card class="notice-board">
    notice
    <!--      notice component-->
  </mat-card>

  <mat-card class="subject-perf">
    <mat-card-header>
      <span class="heading heading-large">Subject Performance</span>
      <span class="spacer"></span>
      <span class="sub-heading heading-large">Last Term</span>
    </mat-card-header>
    <mat-card-content>
      <!--        subject performance component-->
    </mat-card-content>
  </mat-card>

  <mat-card class="leave">
    <mat-card-header>
      <span class="heading heading-large">Leaves Overview</span>
      <span class="spacer"></span>
      <span class="sub-heading heading-large">Taken This Year</span>
    </mat-card-header>
    <mat-card-content>
      <!--        leaves overview component-->
    </mat-card-content>
  </mat-card>

  <mat-card class="relief">
    <mat-card-header>
      <span class="heading heading-large">Relief Allocations</span>
      <span class="spacer"></span>
      <span class="sub-heading heading-large">Today</span>
    </mat-card-header>
    <mat-card-content class="scrollable">
      <div *ngFor="let relief of reliefToday">
        <div class="grid entry">
          <div class="grid entry-left">
            <span class="heading">Class 10B for Science</span>
            <span class="sub-heading">Period: 3</span>
          </div>
          <div class="grid entry-right">
            <span class="sub-heading">8.50 to 9.30 am</span>
            <span class="sub-heading">1 Assessment Available</span>
          </div>
        </div>
        <mat-divider></mat-divider>
      </div>
    </mat-card-content>
  </mat-card>
</div>

