<mat-drawer-container >
  <mat-drawer position="end" [opened]="isOpen" (closed)="isOpen=false;getUnreadNotifCount()" #drawer>
    <div class="notifhed">
      <h1>Notification</h1>
      <span class="spacer"></span>
      <button mat-icon-button (click)="drawer.close()">
      <mat-icon>arrow_forward</mat-icon>
      </button>
    </div>
    <mat-card *ngFor="let notif of notifs">
      <mat-card-content (click)="updateNotification(notif,true)" [ngStyle]="{'font-weight': !notif.isRead ? 'bold' : 'normal'}">
        {{notif.content}}
        <div class="date">
          {{notif.date}}
          <br>
          {{notif.date | date:'shortTime'}}
        </div>
      </mat-card-content>
    </mat-card>
  </mat-drawer>
</mat-drawer-container>

