<mat-drawer-container >
  <mat-drawer position="end" [opened]="isOpen" (closed)="isOpen=false" #drawer>
    <div class="notifhed">
      <h1>Notification</h1>
      <span class="spacer"></span>
      <button mat-icon-button (click)="drawer.close()">
      <mat-icon>arrow_forward</mat-icon>
      </button>
    </div>
    <mat-card *ngFor="let notif of notifs">
      <mat-card-content (click)="notif.read=true" [ngStyle]="{'font-weight': notif.read == false ? 'bold' : 'normal'}">
        {{notif.notification}}
        <div class="date">
          {{notif.date}}
          <br>
          {{notif.time}}
        </div>
      </mat-card-content>
    </mat-card>
  </mat-drawer>
</mat-drawer-container>

