mat-drawer{
  background: lightgrey;
  width: 350px;
  height: 100vh;
}

mat-drawer-container{
  height: 100vh;
  width: 100vw;
  background-color: transparent;
}

:host{
  position: absolute;
}

mat-drawer-container:not(:has(.mat-drawer-opened))  {
  width: 100%;
}
mat-card-content{
  display: flex;
}

mat-checkbox{
  transform: scale(0.75);
}
.date{
  flex: 1;
  text-align: right;
}
.notifhed{
  display: flex;
}
.spacer{
  flex: 1 1 auto;
}
