<app-nav></app-nav>
<div class="content">
  <app-header></app-header>
  <div class="workspace">
    <div class="left">
      <mat-card class="grades">
        <mat-card-header>
          Grades
          <span class="spacer"></span>
          <mat-form-field appearance="outline" subscriptSizing="dynamic">
            <mat-select placeholder="Select Class" [(value)]="selectedYear" (valueChange)="getCurrentMarksheet()">
              <mat-option *ngFor="let year of years" [value]="year">{{year}}</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="outline" subscriptSizing="dynamic">
            <mat-select placeholder="Select Term" [(value)]="selectedTerm" (valueChange)="getCurrentMarksheet()">
              <mat-option *ngFor="let term of terms" [value]="term.value">{{term.viewValue}}</mat-option>
            </mat-select>
          </mat-form-field>
        </mat-card-header>
        <mat-card-content class="grades-names">
          <div *ngFor="let mark of currentMarksheet?.marks">
            <div class="grades-entry">
              {{ mark.subjectName }}
              <span class="spacer"></span>
              {{ mark.mark }}
            </div>
            <mat-divider></mat-divider>
          </div>
        </mat-card-content>
        <mat-card-actions align="end">
        </mat-card-actions>
      </mat-card>
    </div>
      <div class="right">
        <mat-card class="grades-summary">
          <mat-card-header>
            Grades Summary
          </mat-card-header>
          <mat-card-content class="grades-sum">
            <div class="box">
              <div class="inline-block">
                <p class="big-text">{{currentMarksheet?.totalMarks}}</p>
                <p>Total Marks</p>
              </div>
              <mat-divider class="inline-block" [vertical]="true"></mat-divider>
              <div class="inline-block">
                <p class="big-text">{{currentMarksheet?.rank}}</p>
                <p>Rank</p>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
        <mat-card class="grades-overview">
          <mat-card-header>
            Grades Overview

          </mat-card-header>
          <app-stu-grades-overview [marksheet]="currentMarksheet"></app-stu-grades-overview>
          <mat-card-content>
          </mat-card-content>
        </mat-card>
      </div>
  </div>
</div>
