:host,.workspace{
  display: flex;
}

.content{
  flex: 1;
}

.grades{
  margin: 15px;
  height: 75vh;
}

.left{
  flex: 1;
}

.right{
  flex: 1;
}

.spacer{
  flex: 1 1 auto;
}

button{
  margin: 5px;
}

mat-card-content{
  overflow: auto;
  height: 70vh;
}


mat-card-header{
  border-bottom: 1.5px solid gray;
}

mat-form-field{
  margin-left: 7px;
}

.grades-entry{
  display: flex;
  align-items: center;
  margin: 5px;
}

.grades-summary{
  height: 25vh;
  margin: 15px 15px 15px 0;
}

.grades-overview{
  height: 48vh;
  margin: 0 15px 15px 0;
}

.big-text{
  font-weight: bold;
  font-size: xx-large;
}

mat-divider.mat-divider-vertical{
  height: 70px;
  border-right-width: 5px;
  color: red;
  margin: auto 20px;
}


.inline-block{
  display: inline-block;
}

.box{
  align-items: center;
  display: flex;
  text-align: center;
}

p{
  margin: 5px 0;
}

.grades-sum{
  display: flex;
  align-items: center;
  justify-content: center;
}

